<div class="container">
  <button
    class="btn create-btn float-end"
    (click)="openModal()"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
  >
    Créer un service
  </button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Couleur</th>
        <th>Prix</th>
        <th>Durée</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of articlesCopyData; let i = index">
        <td>{{ service.name }}</td>
        <td>{{ service.description | truncate : 50 }}</td>
        <td>
          <span
            class="color-dot"
            [ngStyle]="{ 'background-color': service.color }"
          ></span>
        </td>
        <td>{{ service.price | currency : "EUR" }}</td>
        <td>{{ service.duration }} minutes</td>
        <td>
          <img
            class="image_table"
            [src]="imgStorageUrl + service.image"
            alt="image de service"
          />
        </td>
        <td class="align-center">
          <button
            class="btn create-btn  action-btn"
            (click)="openModal(service)"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
          >
            Mofifier
          </button>
          <button
            class="btn delete-button margin-top-5"
            (click)="deleteService(i)"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            [disabled]="articlesCopyData.length <= 1"
          >
          <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div
    class="modal fade show"
    tabindex="-1"
    [style.display]="modalOpen ? 'block' : 'none'"
    [ngClass]="{ show: modalOpen }"
    style="background: rgba(0, 0, 0, 0.5)"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">
            {{
              editingServiceIndex !== null
                ? "Modifier la prestation " + modalService.type
                : "Créer une prestation " + creationType
            }}
          </h3>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="closeModal()"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="serviceName">Nom du service</label>
            <input
              type="text"
              id="serviceName"
              [(ngModel)]="modalService.name"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="serviceDescription">Description</label>
            <textarea
              id="serviceDescription"
              [(ngModel)]="modalService.description"
              class="form-control"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <label for="servicePrice">Prix</label>
            <input
              type="number"
              id="servicePrice"
              [(ngModel)]="modalService.price"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="serviceDuration">Durée (en minutes)</label>
            <input
              type="number"
              id="serviceDuration"
              [(ngModel)]="modalService.duration"
              class="form-control"
              required
            />
          </div>

          <div class="form-group">
            <div class="form-group">
              <label for="serviceDescription">Image de la prestation</label>
              <div *ngIf="imageUsed">
                <img
                  [src]="imgStorageUrl + imageUsed"
                  alt="Aperçu de l'image"
                  class="image-preview small-preview"
                />
              </div>
              <div *ngIf="!imageUsed" class="no_photo">Pas encore de photo</div>
            </div>
            <p class="margin-top-20">Télécharger une image :</p>
            <input
              type="file"
              id="imageUpload"
              (change)="onFileSelected($event)"
              accept="image/*"
              class="input-style"
            />
            <div *ngIf="imagePreview">
              <p class="margin-top-20">Aperçu de la nouvelle image :</p>
              <img
                [src]="imagePreview"
                alt="Aperçu de l'image"
                class="image-preview small-preview"
              />
            </div>

            <!-- Bouton pour uploader l'image
        <button
          class="btn btn-primary"
          (click)="uploadImage()"
          [disabled]="!selectedFile"
        >
          Upload Image
        </button> -->
          </div>
          <label for="serviceDuration">Couleur de la prestation :</label>
          <div class="color-dots">
            <div
              *ngFor="let color of colors"
              class="color-dot-selection pointer"
              [ngClass]="color.selected ? 'selected' : ''"
              [ngStyle]="{ 'background-color': color.hex }"
              (click)="selectColor(color.hex)"
            ></div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Annuler
          </button>
          <button type="button" class="btn btn-primary" (click)="saveService()">
            Enregistrer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
