.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.table {
  margin-top: 20px;
}

.color-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  border: rgb(163, 163, 163) solid 1px;
}

.color-dot-selection {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  border: rgb(163, 163, 163) solid 1px;
}

.color-dot-selection.selected {
  transform: scale(1.2);  /* Augmente légèrement la taille */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  /* Effet d'ombre */
  border: 1px solid rgba(0, 0, 0, 0.5); /* Bordure subtile */
}

.color-dot-selection:hover {
  transform: scale(1.2); /* Ajoute un léger effet d'agrandissement au survol */
}

.image_table {
  width: 50px;
  height: 50px;
  border-radius: 14px;
  margin-right: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.color-preview {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  margin-top: 10px;
}

select {
  margin-left: 10px;
}

.btn {
  margin-right: 5px;
  // border-radius: 50%; /* Rendre les boutons ronds */
  width: 35px; /* Réduction de la taille des boutons */
  height: 35px; /* Réduction de la taille des boutons */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 16px; /* Réduction de la taille de la police */
  line-height: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Ajout d'une ombre subtile */
  transition: transform 0.1s, box-shadow 0.1s; /* Animation au survol */
}

.btn-primary {
  background-color: #ff6b6b; /* Harmoniser avec le reste de l'appli */
  border: none;
}


.btn-primary:active {
  background-color: #df5151; /* Harmoniser avec le reste de l'appli */
  border: none;
}

.btn-warning {
  background-color: #ffffff; /* Teinte plus douce pour le bouton de modification */
  border: none;
  color: #ff6b6b;
}

.btn-warning:hover {
  background-color: #ffffff; /* Teinte plus douce pour le bouton de modification */
}

.btn-danger {
  background-color: #ff4d4d; /* Harmoniser avec le reste de l'appli */
  border: none;
  color: white;
}

.btn:hover {
  transform: translateY(-2px); /* Légère élévation au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.no_photo {
  font-size: 14px;
  color: red;
}
.delete-button {
  color: #ff6b6b;
  background-color: white;
  border-radius: 50%;
  height: 26px;
  width: 26px;
}
.align-center {
  display: flex;
  flex-direction: column; /* Pour empiler les boutons verticalement */
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  height: 100%; /* Assure que le contenu occupe toute la hauteur */
}

.fa-trash {
  font-size: 14px;
}
.create-btn {
  background-color: white;
  color: #B23A48;
  // border-radius: 50%;
  width: 120px; /* Taille ajustée */
  height: 35px; /* Taille ajustée */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 13px; /* Taille ajustée */
  line-height: 1;
}

.action-btn {
  // border-radius: 50%;
  width: 70px; /* Taille ajustée */
  height: 35px; /* Taille ajustée */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 13px; /* Taille ajustée */
  line-height: 1;
}

.margin-top-5 {
  margin-top: 5px; /* Ajout d'un léger espacement entre les boutons */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-header {
  border-bottom: none;
  height: 30px;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

.modal-dialog {
  margin-top: 15vh;
}
.modal-footer .btn {
  border-radius: 5px; /* Coins légèrement arrondis */
  padding: 10px 20px; /* Taille du bouton ajustée */
  font-size: 16px; /* Taille du texte */
  width: auto; /* Assurer que les boutons ne soient pas ronds */
  height: auto; /* Assurer que les boutons ne soient pas ronds */
  box-shadow: none; /* Retirer l'ombre subtile */
  transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}

.modal-footer .btn-secondary {
  background-color: #6c757d; /* Couleur du bouton "Annuler" */
  border: none;
  color: white;
}

.modal-footer .btn-primary {
  background-color: #007bff; /* Couleur du bouton "Enregistrer" */
  border: none;
  color: white;
}

.modal-footer .btn:hover {
  background-color: #0056b3; /* Couleur de survol pour les boutons */
  transform: none; /* Retirer l'effet de transformation au survol */
  box-shadow: none; /* Retirer l'effet d'ombre au survol */
}

.image-preview {
  height: 120px;
  width: auto;
  object-fit: contain;
  border-radius: 14px;
}