<section class="slide-bg" id="home">
   <div class="animation-circle">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <div class="container custom-container">
      <div class="row">
         <div class="col-xl-7 col-12">
            <div class="d-flex-1">
               <div class="slide-text">
                  <div>
                     <h1>{{ 'HOMEPAGE.TITLERED' | translate }}
                        <span class="main-title">
                           <br>
                           <span class="animated-text new-proposition">{{ currentProposition }}</span>
                           <span class="animated-text old-proposition">{{ previousProposition }}</span>
                        </span>
                     </h1>
                     <div class="search-container">
                        <form>
                           <input [(ngModel)]="search.category" type="text" placeholder="Spécialité ?" class="search-input" 
                           [formControl]="control"
                           [matAutocomplete]="auto"/>
                           <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let option of filteredStreets | async; trackBy: trackByFn" [value]="option">
                                 {{ option }}
                              </mat-option>
                           </mat-autocomplete>
                           <div *ngIf="streetError && search.category" class="error-message">
                             Aucun résultat trouvé
                           </div>
                        </form>
                        <form>
                           <input [(ngModel)]="search.city" type="text" placeholder="Où ?" class="location-input" 
                           [formControl]="control2"
                           [matAutocomplete]="auto2"/>
                           <mat-autocomplete #auto2="matAutocomplete">
                              <mat-option *ngFor="let option of filteredLocations | async; trackBy: trackByFn" [value]="option">
                                 {{ option }}
                              </mat-option>
                           </mat-autocomplete>
                           <div *ngIf="locationError && search.city" class="error-message">
                             Aucun résultat trouvé
                           </div>
                        </form>
                        <button class="search-button" (click)="onButtonClick()">
                          Rechercher
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-5 d-none d-xl-block">
            <div class="home-right">
               <div class="mobile-slid">
                  <img [src]="imgStorageUrl+'illustration.png'" alt="top1" class="img-fluid">
               </div>
            </div>
         </div>
      </div>      
   </div>
</section>
