<section class="slide-bg" id="home">
   <div class="animation-circle">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <div class="container custom-container">
      <div class="row">
         <div class="col-xl-6">
            <div class="d-flex-1">
               <div class="slide-text">
                  <div>
                     <h1>{{ 'HOMEPAGE.TITLERED' | translate }}
                        <span class="main-title">
                           <br>
                           <span class="animated-text new-proposition">{{ currentProposition }}</span>
                           <span class="animated-text old-proposition">{{ previousProposition }}</span>
                        </span>
                     </h1>
                     <div style="display: flex; align-items: center; gap: 10px; justify-content: center;">
                        <div class="search-container">
                           <input [(ngModel)]="searchQuery" type="text"
                              [placeholder]="active === 'location' ? 'Recherche par localisation' : 'Recherche générique'"
                              class="search-input">
                           <button [ngClass]="searchQuery.length === 0 ? 'disable' : ''" matTooltip="Supprimer"
                              matTooltipPosition="below" class="search-clear"><i (click)="cancelSearch()"
                                 class="search-image fa fa-times"></i></button>
                           <button (click)="activateSearch('location')" matTooltip="Recherche par localisation"
                              matTooltipPosition="below" class="search-lens"><i
                                 [ngStyle]="{'color': active === 'location' ? '#ab372e' : '#000'}"
                                 class="search-image fa fa-map-marker"></i></button>
                           <button (click)="activateSearch('search')" matTooltip="Recherche générique"
                              matTooltipPosition="below" class="search-button"><i
                                 [ngStyle]="{'color': active === 'search' ? '#ab372e' : '#000'}"
                                 class="search-image fa fa-search"></i></button>
                        </div>
                     </div>
                     <div style="display: flex; align-items: center; justify-content: center;">
                        <button type="submit" class="btn">Rechercher</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-6">
            <div class="home-right">
               <div class="mobile-slid">
                  <img [src]="imgStorageUrl+'uber-test5.webp'" alt="top1" class="img-fluid">
               </div>
            </div>
         </div>
      </div>
   </div>
</section>