<section class="slide-bg" id="home">
  <div class="container custom-container">
    <div class="row">

      <!-- IMAGE EN PREMIER (PC: à droite grâce à l’ordre visuel) -->
      <div class="col-xl-5 col-12 home-right">
        <div class="mobile-slid">
          <img *ngIf="!paramVideo" [src]="imgStorageUrl + 'intro.png'" alt="illustration" class="img-fluid" />
        
          <div *ngIf="paramVideo" class="video-wrapper">
            <video #videoElementIntro autoplay muted playsinline loop>
              <source [src]="aPIimgStorageUrl + '/uploads/images/front/intro.mp4'" type="video/mp4" />
              Votre navigateur ne supporte pas la balise vidéo.
            </video>
          </div>
        </div>
        
      </div>

      <!-- TEXTE RESPONSIVE (DUPLIQUÉ POUR MOBILE) -->
      <div class="col-xl-7 col-12 slide-content" *ngIf="!isSmallScreen">
        <div class="slide-text-container">
          <h1>
            {{ "HOMEPAGE.TITLERED" | translate }}
            <div class="main-title">
              <span
                class="animated-text"
                *ngIf="currentProposition"
                [@fadeInOut]
                [attr.data-key]="currentKey"
              >
                {{ currentProposition | translate }}
              </span>
            </div>
          </h1>

          <div class="search-container">
            <form>
              <button class="search-button" (click)="onButtonClick()">
                {{ "INTRO.START" | translate }}
              </button>
            </form>
            <div *ngIf="locationError && search.city" class="error-message">
              {{ "INTRO.NORESULTS" | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- TEXTE MOBILE UNIQUEMENT -->
      <div class="col-12 slide-content" *ngIf="isSmallScreen">
        <div class="slide-text-container">
          <h1>
            {{ "HOMEPAGE.TITLERED" | translate }}
            <div class="main-title">
              <span
                class="animated-text"
                *ngIf="currentProposition"
                [@fadeInOut]
                [attr.data-key]="currentKey"
              >
                {{ currentProposition | translate }}
              </span>
            </div>
          </h1>

          <div class="search-container">
            <form>
              <button class="search-button" (click)="onButtonClick()">
                {{ "INTRO.START" | translate }}
              </button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>