<!--Nav start-->
<nav class="navbar fixed-top" [class.darkHeader]="darkHeader">
  <div class="container" *ngIf="!sessionService.getCurrentUser()">
    <a class="navbar-brand" [routerLink]="'/'">
        <img [src]="imgStorageUrl+'logo/'+'glam_logo2.png'" class="logo"
        alt="logo" /></a>
    <div>
      <ul>
        <li class=""></li>
        <div class="flex buttons-wrapper">
          <!-- Boutons visibles en grand écran -->
          <button type="button" (click)="routerNavigate('/sign-in')" class="btn desktop-only color-izyglam" *ngIf="page !== 'connected'">
            {{'INTRO.CONNEXION' | translate}}
          </button>

          <button type="button" (click)="routerNavigate('/sign-up')" class="btn desktop-only color_izyglam" *ngIf="page !== 'connected'">
            {{'INTRO.REGISTRATION' | translate}}
          </button>
          <!-- Bouton de menu hamburger visible sur mobile -->
          <div class="mobile-only">
            <button class="menu-btn" (click)="toggleMobileMenu()">
              <i class="fa fa-bars color-izyglam"></i>
            </button>

            <!-- Menu déroulant -->
            <div class="mobile-menu" *ngIf="isMobileMenuOpen">
              <button type="button" (click)="routerNavigate('/sign-in'); isMobileMenuOpen = false" class="btn color-izyglam">
                {{'INTRO.CONNEXION' | translate}}
              </button>

              <button type="button" (click)="routerNavigate('/sign-up'); isMobileMenuOpen = false" class="btn color-izyglam">
                {{'INTRO.REGISTRATION' | translate}}
              </button>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <!-- Connected Menu -->
  <div class="container-fluid" *ngIf="sessionService.getCurrentUser()">
    <div class="d-flex align-items-center justify-content-between flex-nowrap w-100 flex-wrap-mobile-fix">
      <div class="col-auto">
        <a (click)="openDrawer()">
          <img class="menuBurger" [src]="imgStorageUrl + 'menuBurger.png'" alt="logo" />
        </a>
      </div>
      <div class="col-auto">
        <a class="navbar-brand" [routerLink]="'/main'">
          <img [src]="imgStorageUrl + 'logo/glam_logo.png'" class="logo" alt="logo" (click)="removeSettingsProfil()" />
        </a>
      </div>
      <div class="col"></div> <!-- Espace entre le logo et le bouton -->  
    </div>
  </div>
  
</nav>
<!--Nav end -->