<form>
  <div class="row">
    <!-- Section: Total généré -->
    <div class="col-md-4 col-sm-12 mb-4">
      <div class="finance-card">
        <h3>{{ "FINANCE.TOTAL_GENERATED" | translate }}</h3>
        <p class="finance-number">{{ totalGenerated | currency : "EUR" }}</p>
        <p class="finance-description">{{ "FINANCE.CA" | translate }}</p>
      </div>
    </div>

    <!-- Section: Commission prélevée -->
    <div class="col-md-4 col-sm-12 mb-4">
      <div class="finance-card">
        <h3>{{ "FINANCE.COMMISSION_TAKEN" | translate }}</h3>
        <p class="finance-number">{{ commission | currency : "EUR" }}</p>
        <p class="finance-description">{{ "FINANCE.COMMISSIONS" | translate }}</p>
      </div>
    </div>

    <!-- Section: Montant à verser -->
    <div class="col-md-4 col-sm-12 mb-4">
      <div class="finance-card">
        <h3>{{ "FINANCE.PROGRESS" | translate }}</h3>
        <p class="finance-number">+ {{ netToPay }} %</p>
        <p class="finance-description">{{ "FINANCE.PROGRESSION" | translate }}</p>
      </div>
    </div>
  </div>
<!--
  <div class="row">
    <div class="col-12">
      <h2>{{ "FINANCE.REQUEST_WITHDRAWAL" | translate }}</h2>
      <form [formGroup]="withdrawalForm" (ngSubmit)="requestWithdrawal()">
        <div class="form-group">
          <label for="withdrawalAmount">{{ "FINANCE.TAKE" | translate }}</label>
          <input
            type="number"
            id="withdrawalAmount"
            class="form-control"
            [max]="netToPay"
            required
          />
        </div>
        <div class="form-group">
          <label for="accountDetails">{{ "FINANCE.DETAILS" | translate }}</label>
          <input
            type="text"
            id="accountDetails"
            class="form-control"
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="withdrawalForm.invalid"
        >
        {{ "FINANCE.ASK" | translate }}
        </button>
      </form>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h2>{{ "FINANCE.HISTORY" | translate }}</h2>
      <table class="table">
        <thead>
          <tr>
            <th>{{ "FINANCE.DATE" | translate }}</th>
            <th>{{ "FINANCE.AMOUNT" | translate }}</th>
            <th>{{ "FINANCE.COMMISSION" | translate }}</th>
            <th>{{ "FINANCE.STATUS" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.date | date : "short" }}</td>
            <td>{{ transaction.price | currency : "EUR" }}</td>
            <td>{{ transaction.commission | currency : "EUR" }}</td>
            <td>{{ transaction.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  -->
</form>
