<form>
  <div class="row">
    <!-- Section: Total généré -->
    <div class="col-md-4 col-sm-12 mb-4">
      <div class="finance-card">
        <h3>{{ "FINANCE.TOTAL_GENERATED" | translate }}</h3>
        <p class="finance-number">{{ totalGenerated | currency : "EUR" }}</p>
        <p class="finance-description">{{ "FINANCE.CA" | translate }}</p>
      </div>
    </div>

    <!-- Section: Commission prélevée -->
    <div class="col-md-4 col-sm-12 mb-4">
      <div class="finance-card">
        <h3>{{ "FINANCE.COMMISSION_TAKEN" | translate }}</h3>
        <p class="finance-number">{{ commission | currency : "EUR" }}</p>
        <p class="finance-description">{{ "FINANCE.COMMISSIONS" | translate }}</p>
      </div>
    </div>

    <!-- Section: Montant à verser -->
    <div class="col-md-4 col-sm-12 mb-4">
      <div class="finance-card">
        <h3>{{ "FINANCE.PROGRESS" | translate }}</h3>
        <p class="finance-number">+ {{ netToPay }} %</p>
        <p class="finance-description">{{ "FINANCE.PROGRESSION" | translate }}</p>
      </div>
    </div>
  </div>
</form>
