<div class="main-section">
   <div class="container custom-container">
      <div class="row">
         <div class="col-md-6 content">
            <h1>Travaillez quand vous voulez, générez des revenus sur mesure</h1>
            <p>Générez des revenus selon votre propre emploi du temps en acceptant des demandes sur la plateforme, à
               votre rythme. Vous pouvez utiliser votre propre matériel ou choisir de louer du matériel professionel via
               izyGlam.</p>
            <button type="submit" class="btn submit margin-bottom-50">En savoir plus</button>
         </div>
         <div class="col-md-6 hero-image">
            <img src="assets/images/uber-test.png" alt="Conduisez quand vous voulez">
         </div>
      </div>
   </div>
</div>