.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px; /* Ajusté pour correspondre à l'espacement de l'exemple Uber */
}

.hero-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.content h1 {
  font-size: 32px; /* Augmenté pour correspondre à la taille de police de l'exemple Uber */
  font-weight: bold; /* Assurez-vous que le titre est en gras */
  color: #000; /* Couleur noire pour correspondre au style Uber */
  margin-bottom: 20px; /* Ajouté pour espacement */
}

.content p {
  color: #000; /* Couleur noire pour correspondre au style Uber */
  line-height: 1.5;
  font-size: 18px; /* Augmenté pour correspondre à la taille de police de l'exemple Uber */
  margin-bottom: 30px; /* Ajouté pour espacement */
}

button {
  background-color: #000; /* Couleur noire pour correspondre au style Uber */
  color: white;
  border: none;
  padding: 15px 30px; /* Augmenté pour correspondre au style Uber */
  cursor: pointer;
  font-size: 16px; /* Taille de police ajustée */
  font-weight: bold; /* Ajouté pour correspondre au style Uber */
}

button:hover{
  transform: scale(1.06);
}
img {
  border-radius: 20px; /* Vous pouvez ajuster cette valeur pour obtenir l'arrondi souhaité */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre portée pour l'effet de profondeur */
}
@media (max-width: 768px) {
  .main-section {
    flex-direction: column;
    padding: 20px 15px;
  }

  .hero-image {
    margin-bottom: 20px;
    text-align: center;
  }

  .hero-image img,
  .hero-image video {
    max-width: 100%;
    height: auto;
  }

  .content h1 {
    font-size: 24px; /* Réduction de la taille du titre */
    margin-bottom: 15px;
  }

  .content p {
    font-size: 16px; /* Texte un peu plus petit */
    margin-bottom: 20px; /* Moins d'espacement */
    line-height: 1.4;
  }

  button {
    width: 100%; /* Pour occuper tout l’espace, optionnel */
    padding: 12px 20px;
    font-size: 15px;
  }
}
