<div class="main-section">
   <div class="container custom-container">
      <div class="row align-items-center about-grid">
         <!-- Media (image/vidéo) -->
         <div class="col-md-6 hero-image">
            <img *ngIf="!paramVideo" [src]="aPIimgStorageUrl + '/uploads/images/front/pro.png'"
               alt="Travaillez quand vous voulez" class="hero-media" />

            <video *ngIf="paramVideo" #videoElementAbout class="hero-media hero-video" autoplay muted playsinline loop>
               <source [src]="aPIimgStorageUrl + '/uploads/images/front/pro.mp4'" type="video/mp4" />
               Votre navigateur ne supporte pas la balise vidéo.
            </video>
         </div>

         <!-- Contenu texte -->
         <div class="col-md-6 content">
            <h1>{{ 'HOMEPAGE.PART2TITLE' | translate }}</h1>
            <p>{{ 'HOMEPAGE.PART2TEXT' | translate }}</p>
            <button type="button" class="btn submit margin-bottom-50" (click)="goTo('creation-shop')"
               aria-label="En savoir plus">
               {{ 'HOMEPAGE.KNOWMORE' | translate }}
            </button>
         </div>
      </div>
   </div>
</div>