<!-- Début de la section de connexion -->
<section class="auth-page">
   <div class="animation-circle-inverse">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <div class="animation-circle">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <div class="auth-card">
      <div class="text-center">
         <h2>Mot de passe oublié</h2>
         <img [src]="imgStorageUrl+'title-line.png'" alt="ligne de titre" class="img-fluid line">
      </div>
      <div class="main">
         <form class="auth-form">
            <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               <i class="fa fa-envelope-o"></i>
               <input required="" name="login[username]" type="email" class="form-control" id="exampleInputEmail1"
                  placeholder="Email">
            </div>
            <div class="form-group">
               <button class="btn submit" type="submit">Envoyer le code</button>
            </div>
            <div class="or-saparator"><span>ou</span></div>
            <h6 class="text-center mt-0 mb-3">Se connecter avec :</h6>
            <div class="form-button text-center social-btns">
               <button [routerLink]="'/sign-in'" class="btn submit fb">Se connecter</button>
               <button [routerLink]="'/sign-up'" class="btn submit ggl">S'inscrire</button>
            </div>
         </form>
      </div>
   </div>
</section>
<!-- Fin de la section de connexion -->