<section class="auth-page">
   <div class="animation-circle-inverse">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <div class="animation-circle">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <app-header [connected]="false" [page]="'connected'"></app-header>
   <div class="auth-card">
      <div class="text-left">
         <!--<img src="assets/images/title-line.png" alt="ligne de titre" class="img-fluid line">-->
         <p class="welcome-text">Entrez votre email de connexion</p>
      </div>
      <form class="auth-form" (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
         <div class="form-group">
           <input
             [(ngModel)]="user.login"
             name="email"
             required
             #email="ngModel"
             type="email"
             class="form-control"
             [placeholder]="placeholderEmail"
           />
           <div *ngIf="email.invalid && email.touched" class="error-message">
             Veuillez entrer une adresse email valide.
           </div>
         </div>
         <div *ngIf="isLoading" class="loading-spinner">Chargement...</div>
         <button
           type="submit"
           class="btn submit"
           [disabled]="forgotPasswordForm.invalid || isLoading"
         >
           {{ 'LOGIN.CONTINUER' | translate }}
         </button>
         <app-connexion-buttons></app-connexion-buttons>
       </form>
       
   </div>
</section>