<div class="form">
  <div class="row">
    <!-- Section Gestion des employés -->
    <div class="col-12">
      <div class="margin-top-50">
        <h2>{{ "COMPANY_MANAGEMENT.TITLE" | translate }}</h2>
        <button
          class="btn btn-primary action-btn float-end"
          (click)="createEmployee()"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          matTooltip="Créer un employé"
        >
          <i class="fa fa-plus"></i>
        </button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ "COMPANY_MANAGEMENT.NAME" | translate }}</th>
              <th>{{ "COMPANY_MANAGEMENT.EMAIL" | translate }}</th>
              <th>{{ "COMPANY_MANAGEMENT.SOLDE" | translate }}</th>
              <th>{{ "COMPANY_MANAGEMENT.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees">
              <td>{{ employee.firstname }} {{ employee.lastname }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.credit | currency : "EUR" }}</td>
              <td class="action-buttons">
                <button
                  class="btn btn-secondary action-btn"
                  (click)="creditEmployee(employee)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  matTooltip="Créditer le compte"
                >
                  <i class="fa fa-plus"></i>
                </button>
                <button
                  class="btn btn-warning action-btn"
                  (click)="resetPassword(employee)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  matTooltip="Réinitialiser le mot de passe"
                >
                  <i class="fa fa-key"></i>
                </button>
                <button
                  class="btn btn-danger action-btn"
                  (click)="deleteEmployee(employee)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  matTooltip="Supprimer le compte"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
