<div class="izyGlam-steps-container container margin-top-80">
  <h2 class="text-center">{{ "CREATION_COMPANY_STEPS.TITLE" | translate }}</h2>

  <div class="row steps-grid">
    <div class="col-12 col-md-4 step-item mb-5">
      <img src="assets/images/step2.1.png" class="step-image img-fluid" alt="Step 1" />
      <h3>{{ "CREATION_COMPANY_STEPS.STEP2.TITLE" | translate }}</h3>
      <p>{{ "CREATION_COMPANY_STEPS.STEP2.TEXT" | translate }}</p>
    </div>

    <div class="col-12 col-md-4 step-item mb-5">
      <img src="assets/images/step2.2.png" class="step-image img-fluid" alt="Step 2" />
      <h3>{{ "CREATION_COMPANY_STEPS.STEP1.TITLE" | translate }}</h3>
      <p>{{ "CREATION_COMPANY_STEPS.STEP1.TEXT" | translate }}</p>
    </div>

    <div class="col-12 col-md-4 step-item mb-5">
      <img src="assets/images/step2.3.png" class="step-image img-fluid" alt="Step 3" />
      <h3>{{ "CREATION_COMPANY_STEPS.STEP3.TITLE" | translate }}</h3>
      <p>{{ "CREATION_COMPANY_STEPS.STEP3.TEXT" | translate }}</p>
    </div>
  </div>
</div>
