<div class="izyGlam-steps-container margin-top-80">
    <h2>{{ "CREATION_COMPANY_STEPS.TITLE" | translate }}</h2>
  
    <div class="steps-grid">
      <div class="step-item">
        <img src="assets/images/step2.1.png" class="step-image" alt="Step 1" />
        <h3>{{ "CREATION_COMPANY_STEPS.STEP2.TITLE" | translate }}</h3>
        <p>{{ "CREATION_COMPANY_STEPS.STEP2.TEXT" | translate }}</p>
      </div>
  
      <div class="step-item">
        <img src="assets/images/step2.2.png" alt="Step 2" />
        <h3>{{ "CREATION_COMPANY_STEPS.STEP1.TITLE" | translate }}</h3>
        <p>{{ "CREATION_COMPANY_STEPS.STEP1.TEXT" | translate }}</p>
      </div>
  
      <div class="step-item">
        <img src="assets/images/step2.3.png" alt="Step 3" />
        <h3>{{ "CREATION_COMPANY_STEPS.STEP3.TITLE" | translate }}</h3>
        <p>{{ "CREATION_COMPANY_STEPS.STEP3.TEXT" | translate }}</p>
      </div>
    </div>
  </div>
  