<div class="main-section">
   <div class="container custom-container">
      <h2>{{'HOMEPAGE.APPTITLE' | translate}}</h2>
      <div class="row">
         <div class="col-md-12">
            <div class="qr-card">

               <div class="row">
                  <div class="col-md-8">
                     <img [src]="imgStorageUrl+'qr1.webp'" alt="QR Code for izyGlam App">
                     <!-- Assurez-vous que le chemin et alt text sont corrects -->
                  </div>
                  <div class="col-md-4">
                     <div class="hero-text">{{'HOMEPAGE.DOWNLOADAPP1' | translate}}</div>
                     <div>{{'HOMEPAGE.SCANTODOWNLOAD' | translate}}</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>