.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.qr-card-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px; /* Espace entre les colonnes */
  width: 100%;
}

.qr-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.qr-card-content {
  display: flex;
  align-items: center; /* Aligne verticalement le QR code et le texte */
  gap: 20px;
}

.qr-code img {
  width: 150px;
  height: auto;
}

.qr-text {
  text-align: left; /* Par défaut, texte aligné à gauche */
}

.download-buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px; /* Séparation avec le QR code */
}

.download-btn img {
  width: 140px;
  height: auto;
  transition: transform 0.2s ease;
}

.download-btn img:hover {
  transform: scale(1.1);
}

.app-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 20px;
}

.app-info p {
  font-size: 16px;
  color: #333;
  margin: 5px 0;
  line-height: 1.5;
}

/* Responsivité */
@media (max-width: 768px) {
  .qr-card-wrapper {
    flex-direction: column; /* Empile les éléments sur mobile */
    align-items: center;
    justify-content: center; /* Centre le contenu horizontalement */
    gap: 20px;
  }

  .qr-card-content {
    flex-direction: column; /* Le QR code se place au-dessus du texte */
    text-align: center; /* Centre le texte à l'intérieur */
  }

  .download-buttons {
    flex-direction: column; /* Empile les boutons */
  }

  .app-info {
    text-align: center; /* Centre les infos utilisateur */
    max-width: 100%;
  }
}

.color_glow_primary {
  color: #00d6d6 !important;
}

.glow-logo {
  margin-left: 2px;
  width: 90px !important;
  height: auto;
}
@media (max-width: 768px) {
  .qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centrer les textes */
    width: 100%;
  }

  h2 {
    text-align: center;
  }

  .qr-text {
    text-align: center; /* Centrer le texte dans le bloc */
  }
}
