<div class="main-section">
  <div class="container custom-container">
    <h2>{{ 'HOMEPAGE.APPTITLE' | translate }}</h2>
    <div class="qr-card-wrapper">
      <div class="qr-card">
        <div class="qr-card-content">
          <div class="qr-code">
            <div class="qr-text">

              <div class="bold">{{ 'HOMEPAGE.DOWNLOADAPP1' | translate }} <img
                  [src]="imgStorageUrl+'logo/'+'glam_logo2.png'" alt="logo" class="glow-logo"></div>

            </div>
            <img [src]="imgStorageUrl + 'qr1.webp'" alt="QR Code for izyGlam App" class="">
            <div class="qr-text">
              <div>{{ 'HOMEPAGE.SCANTODOWNLOAD' | translate }}</div>
            </div>
          </div>
          <div class="download-buttons">
            <a [href]="android" target="_blank"
              class="btn download-btn">
              <img [src]="'assets/images/application/google-play-badge.' + lang + '.png'" alt="Google Play">
            </a>
            <a [href]="iOS" target="_blank" class="btn download-btn">
              <img [src]="'assets/images/application/app-store-badge.'+lang+'.png'" alt="App Store">
            </a>
          </div>
        </div>
      </div>
      <div class="app-info">
        <p><strong><span class="color_glow_secondary">+10.000</span> {{ "DOWNLOAD.USERS" | translate }} 💡</strong></p>
        <p><strong><span class="color_glow_secondary">+300</span> {{ "DOWNLOAD.SOCIAL" | translate }} 🌍</strong></p>
        <p><strong><span class="color_glow_secondary">5★</span> {{ "DOWNLOAD.STORE" | translate }} 🌟</strong></p>
      </div>
    </div>
  </div>
</div>