<div class="main-section">
   <div class="container custom-container">
      <h2>C'est plus simple avec les applications</h2>
      <div class="row">
         <div class="col-md-6">
            <div class="qr-card">

               <div class="row">
                  <div class="col-md-5">
                     <img src="assets/images/qr1.webp" alt="QR Code for Uber Drivers App">
                     <!-- Assurez-vous que le chemin et alt text sont corrects -->
                  </div>
                  <div class="col-md-6">
                     <div class="hero-text">Téléchargez l'application Uber</div>
                     <div>Scannez pour télécharger</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="qr-card">
               <div class="row">
                  <div class="col-md-5">
                     <img src="assets/images/qr2.webp" alt="QR Code for Uber Drivers App">
                     <!-- Assurez-vous que le chemin et alt text sont corrects -->
                  </div>
                  <div class="col-md-6">
                     <div class="hero-text">Téléchargez l'application pour les professionnels de l'esthétique</div>
                     <div>Scannez pour télécharger</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>