.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.hero-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.content h1 {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem; /* taille raisonnable pour mobile */
  line-height: 1.2; /* évite les sauts de ligne trop espacés */
  word-break: break-word; /* casse les longs mots si besoin */
  hyphens: auto; /* ajoute des tirets si nécessaire pour couper proprement */
  text-align: left;

  @media (max-width: 768px) {
    font-size: 1.5rem; /* plus petit sur mobile */
    text-align: center; /* si tu veux centrer le texte sur mobile */
    padding: 0 1rem; /* un peu de marge interne */
  }
}
.content p {
  color: #000;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 30px;
}



button {
  background-color: #000;
  width: 100%;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #333;
  }

  &:disabled {
    background-color: #999;
    color: #ccc;
    cursor: not-allowed;
    opacity: 0.7;
  }
}

button:hover {
  transform: scale(1.06);
}

img {
  border-radius: 20px; /* Vous pouvez ajuster cette valeur pour obtenir l'arrondi souhaité */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre portée pour l'effet de profondeur */
}
@media (max-width: 768px) {
  .main-section {
    flex-direction: column;
    padding: 20px 15px;
  }

  .hero-image {
    margin-bottom: 20px;
    text-align: center;
  }

  .hero-image img,
  .hero-image video {
    max-width: 100%;
    height: auto;
  }

  .content h1 {
    font-size: 24px; /* Réduction de la taille du titre */
    margin-bottom: 15px;
  }

  .content p {
    font-size: 16px; /* Texte un peu plus petit */
    margin-bottom: 20px; /* Moins d'espacement */
    line-height: 1.4;
  }

  button {
    width: 100%; /* Pour occuper tout l’espace, optionnel */
    padding: 12px 20px;
    font-size: 15px;
  }
}
