<div class="main-section">
   <div class="container custom-container">
      <div class="row">
         <div class="col-md-6 hero-image">
            <img src="assets/images/illustration.png" alt="Conduisez pour des particuliers">
         </div>
         <div class="col-md-6 content">
            <h1>Profitez des meilleurs services esthétiques à domicile</h1>
            <p>Nos professionnels qualifiés se déplacent chez vous pour vous offrir des soins de beauté de qualité,
               adaptés à vos besoins et à vos envies. Vivez une expérience de bien-être unique, que ce soit à votre
               pause le midi, après le travail, le soir, ou lors d'une après midi entre amies.</p>
            <button type="submit" class="btn submit">En savoir plus</button>
         </div>
      </div>

   </div>
</div>