<div class="main-section">
  <div class="container custom-container">
    <div class="row">
      <div class="col-md-6 hero-image">
        <img
          [src]="'/assets/images/conseil.png'"
          alt="Travaillez pour des particuliers"
        />
      </div>
      <div class="col-md-6 content right-side margin-top-50">
        <div class="form">
          <h2>Lancez-vous</h2>

          <label for="establishment-name">Nom de votre entreprise</label>
          <input
            type="text"
            id="establishment-name"
            name="establishment-name"
            [(ngModel)]="user.name"
            placeholder="Sab Beauty"
          />
          <label for="address">Adresse de votre entreprise</label>
          <input id="address" name="address" [(ngModel)]="user.adresse" 
          placeholder="123, rue Principale"/>

          <label for="floor">Étage/Suite (facultatif)</label>
          <input type="text" id="floor" name="floor" placeholder="123" [(ngModel)]="user.etage" />

          <label for="business-type">Type d'entreprise</label>
          <select id="business-type" name="business-type" [(ngModel)]="user.companyType">
            <option value="coiffure">Coiffure</option>
            <option value="manucure">Manucure</option>
            <option value="massage">Massage</option>
            <!-- Add more options here -->
          </select>

          <div class="name-fields">
            <div>
              <label for="first-name">Prénom</label>
              <input type="text" id="first-name" name="first-name"  [(ngModel)]="user.firstname"/>
            </div>
            <div>
              <label for="last-name">Nom de famille</label>
              <input type="text" id="last-name" name="last-name" [(ngModel)]="user.lastname"/>
            </div>
          </div>

          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" [(ngModel)]="user.email" />

          <label for="phone">Numéro de téléphone portable</label>
          <div class="phone-group">
            <select id="country-code" [(ngModel)]="user.countryIndication">
              <option value="FR">FR +33</option>
              <!-- Add more country codes here -->
            </select>
            <input type="tel" id="phone" name="phone"  [(ngModel)]="user.phone"/>
          </div>

          <div class="whatsapp">
            <input type="checkbox" id="whatsapp"  [(ngModel)]="user.ccvaccepted"/>
            <label for="whatsapp">
              J’accepte de recevoir des messages sur WhatsApp
            </label>
          </div>

          <button (click)="onSubmit()" type="submit">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
</div>
