<div class="main-section">
  <div class="container custom-container">
    <div class="row">
      <div class="col-md-6 hero-image">
        <img
          [src]="'/assets/images/conseil.png'"
          alt="Travaillez pour des particuliers"
        />
      </div>
      <div class="col-md-6 content right-side margin-top-50">
        <div class="form">
          <h2>{{ "CREATION_SHOP.TITLE" | translate }}</h2>
          <div *ngIf="alreadyProfessionnal" class="color_red margin-bottom-20">{{ "CREATION_SHOP.ALREDAY_SHOP" | translate }}</div>
          
          <div *ngIf="!alreadyProfessionnal" class="margin-bottom-20"></div>
          <label for="establishment-name">{{
            "CREATION_SHOP.NAME" | translate
          }}</label>
          <input
          [disabled]="alreadyProfessionnal"
            type="text"
            id="establishment-name"
            name="establishment-name"
            [(ngModel)]="newShopUser.name"
            onchange="formChecking('companyName')"
            placeholder="Sab Beauty"
          />

          <label for="street">{{ "CREATION_SHOP.STREET" | translate }}</label>
          <input
          [disabled]="alreadyProfessionnal"
            id="street"
            name="street"
            [(ngModel)]="newShopUser.street"
            placeholder="123, Main Street"
          />

          <div class="row input-group-row">
            <div class="col-md-6">
              <label for="city">{{ "CREATION_SHOP.CITY" | translate }}</label>
              <input
              [disabled]="alreadyProfessionnal"
                id="city"
                name="city"
                [(ngModel)]="newShopUser.city"
                placeholder="Paris"
              />
            </div>
            <div class="col-md-6">
              <label for="cp">{{
                "CREATION_SHOP.CODE_POSTAL" | translate
              }}</label>
              <input
              [disabled]="alreadyProfessionnal"
                id="cp"
                name="cp"
                [(ngModel)]="newShopUser.code_postal"
                placeholder="75001"
              />
            </div>
          </div>

          <div class="row input-group-row">
            <div class="col-md-6">
              <label for="country">{{
                "CREATION_SHOP.COUNTRY" | translate
              }}</label>
              <input
              [disabled]="alreadyProfessionnal"
                id="country"
                name="country"
                [(ngModel)]="newShopUser.country"
                placeholder="France"
              />
            </div>
            <div class="col-md-6">
              <label for="floor">{{ "CREATION_SHOP.FLOOR" | translate }}</label>
              <input
              [disabled]="alreadyProfessionnal"
                type="text"
                id="floor"
                name="floor"
                placeholder="123"
                [(ngModel)]="newShopUser.floor"
              />
            </div>
          </div>

          <div class="row input-group-row">
            <label for="business-type">{{
              "CREATION_SHOP.BUSINESSTYPE" | translate
            }}</label>
            <select
            [disabled]="alreadyProfessionnal"
              id="business-type"
              name="business-type"
              [(ngModel)]="newShopUser.companyType"
            >
              <option value="coiffure">Coiffure</option>
              <option value="manucure">Manucure</option>
              <option value="massage">Massage</option>
              <!-- Add more options here -->
            </select>
          </div>
          <div class="row input-group-row" *ngIf="!isUserConnected">
            <div class="col-md-6">
              <label for="first-name">{{
                "CREATION_SHOP.FIRSTNAME" | translate
              }}</label>
              <input
              [disabled]="alreadyProfessionnal"
                type="text"
                id="first-name"
                name="first-name"
                placeholder="Jeanne"
                [(ngModel)]="newShopUser.firstname"
              />
            </div>
            <div class="col-md-6">
              <label for="last-name">{{
                "CREATION_SHOP.LASTNAME" | translate
              }}</label>
              <input
              [disabled]="alreadyProfessionnal"
                type="text"
                id="last-name"
                name="last-name"
                placeholder="Moulin"
                [(ngModel)]="newShopUser.lastname"
              />
            </div>
          </div>
          <div class="row input-group-row" *ngIf="!isUserConnected">
            <div class="col-md-6">
              <label for="first-name">{{
                "CREATION_SHOP.PASSWORD" | translate
              }}</label>
              <input
              [disabled]="alreadyProfessionnal"
                type="password"
                id="password"
                name="first-name"
                [(ngModel)]="newShopUser.password"
              />
            </div>
            <div class="col-md-6">
              <label for="last-name">{{
                "CREATION_SHOP.PASSWORDCONFIRMED" | translate
              }}</label>
              <input
              [disabled]="alreadyProfessionnal"
                type="password"
                id="passwordConfirmed"
                name="passwordConfirmed"
                [(ngModel)]="newShopUser.confirmedPassword"
              />
            </div>
          </div>

          <div class="row input-group-row" *ngIf="!isUserConnected">
            <label for="email">{{ "CREATION_SHOP.EMAIL" | translate }}</label>
            <input
            [disabled]="alreadyProfessionnal"
              placeholder="jeanne.moulin@gmail.com"
              type="email"
              id="email"
              name="email"
              [(ngModel)]="newShopUser.email"
            />
          </div>

          <div class="row input-group-row" *ngIf="!isUserConnected">
            <label for="phone">{{ "CREATION_SHOP.PHONE" | translate }}</label>
            <div class="row input-group-row">
              <div class="col-md-3">
                <select
                [disabled]="alreadyProfessionnal"
                  id="country-code"
                  [(ngModel)]="newShopUser.countryIndication"
                >
                  <option value="FR">FR +33</option>
                  <!-- Add more country codes here -->
                </select>
              </div>
              <div class="col-md-9">
                <input
                [disabled]="alreadyProfessionnal"
                  type="tel"
                  id="phone"
                  name="phone"
                  placeholder="0612345678"
                  [(ngModel)]="newShopUser.phone"
                />
              </div>
            </div>
          </div>
          <div class="whatsapp">
            <input
            [disabled]="alreadyProfessionnal"
              type="checkbox"
              id="whatsapp"
              [(ngModel)]="newShopUser.ccvaccepted"
            />
            <label for="whatsapp">{{
              "CREATION_SHOP.WHATSAPP" | translate
            }}</label>
          </div>

          <button 
          [disabled]="alreadyProfessionnal" (click)="onSubmit()" type="submit">
            {{ "CREATION_SHOP.BUTTON" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="error" class="error">{{ error }}</div>
</div>
