.article-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  height: 150px;
  width: 85%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 15px !important;
}

.article-info {
  flex: 1;
  padding-top: 10px;
}

.article-info h3 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 18px;
  color: #B23A48;
}

.article-info .icon-cheese,
.article-info .icon-flag {
  margin-left: 5px;
}

.article-info .price {
  font-weight: normal;
  margin-top: 10px;
}

.article-info .rating {
  color: #888;
}

.article-info .description {
  color: #666;
}

.article-info .offer {
  color: green;
  font-weight: bold;
}

.article-image {
  position: relative;
}

.article-image img {
  width: 120px;
  height: auto;
  border-radius: 8px;
}

.add-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.description {
  font-size: 15px;
}
