<div class="article-card pointer" (click)="openDialog()">
  <div class="article-info">
    <h3 class="title">{{ item.name }}</h3>

    <div class="price-duration">
      <span class="price-tag">💶 {{ calculateFinalPrice(item.price) }}</span>
      <span class="duration-tag">⏱️ {{ item.duration }} min</span>
    </div>

    <p class="description">
      {{ item.description }}
    </p>
  </div>

  <div class="article-image">
    <img
      [src]="imgStorageUrl + item.image"
      alt="item illustration"
      (error)="onImageError($event)"
    />
    <button class="add-button" type="button">+</button>
  </div>
</div>
