.form {
    margin-top: 80px !important;
    width: 90vW !important;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

form div {
  margin-bottom: 15px;
}

h1 {
  color: #ff6b6b;
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 9vw;
}

h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
