<div class="container-global">
  <div class="form">
    <div class="row-profile">
      <div class="profile">
        <img [src]="imgStorageUrl + 'default.jpeg'" alt="Profile Picture" />
      </div>
      <div class="info-row">
        <div>
          <label for="firstname">{{ "PROFILE.FIRSTNAME" | translate }}</label>
          <input (ngModelChange)="changedDetected()" [(ngModel)]="user.firstname"
            class="input-style" type="text" id="firstname" />
        </div>
        <div>
          <label for="lastname">{{ "PROFILE.LASTNAME" | translate }}</label>
          <input (ngModelChange)="changedDetected()" [(ngModel)]="user.lastname"
            class="input-style" type="text" id="lastname" required />
        </div>
      </div>
    </div>

    <div class="info">
      <div>
        <label for="phone">{{ "PROFILE.PHONE" | translate }}</label>
        <input (ngModelChange)="changedDetected()" [(ngModel)]="user.phone" class="input-style"
          type="text" id="phone" required />
      </div>
      <div>
        <label for="email">{{ "PROFILE.ADDRESS" | translate }}</label>
        <input (ngModelChange)="changedDetected()" [(ngModel)]="user.email" disabled
          class="input-style" type="text" id="email" required />
      </div>

      <div class="margin-top-15">
        <button class="button-red" (click)="validateChangeUser()" type="submit" [disabled]="disabledButton">
          {{ "PROFILE.CHANGE_USER" | translate }}
        </button>
        <button (click)="cancel()" class="margin-left-10 button-grey" *ngIf="!disabledButton">
          {{ "PROFILE.CANCEL" | translate }}
        </button>
        <div *ngIf="userChangeError" class="error">{{ userChangeError }}</div>
        <div *ngIf="userChangeSuccess" class="success">
          {{ "PROFILE.SUCCESS" | translate }}.
        </div>
      </div>
    </div>
  </div>
</div>
