<footer class="footer">
  <div class="footer-bottom">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="social-footer">
          <ul>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <p>© {{today | date:'y'}} izyGlam - {{ "FOOTER.ALL_RIGHT" | translate }}</p>
    <p><a href="/cgu" target="_blank" class="pink">{{ "FOOTER.CONFIDENTIAL" | translate }}</a> · <a href="/cgu" target="_blank" class="pink">{{
        "FOOTER.ACCESS" | translate }}</a> · <a href="/cgu" target="_blank" class="pink">{{ "FOOTER.CONDITIONS" | translate }}</a></p>
  </div>
</footer>