.admin-shops-management {
  background-color: #ffffff;
  padding: 1.5em;

  .search-bar {
    margin-bottom: 1em;

    input {
      width: 100%;
      padding: 0.8em;
      font-size: 1.1em;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      transition: border-color 0.3s;

      &:focus {
        border-color: #f06292;
      }
    }
  }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1.5em;

      th,
      td {
        padding: 1em;
        text-align: left;
        font-size: 1em;
        color: #333333;
      }

      th {
        background-color: #F5F5F5;
        border-bottom: 2px solid #E0E0E0;
        font-weight: bold;
      }

      td {
        border-bottom: 1px solid #E0E0E0;
      }

      tr:nth-child(even) {
        background-color: #FAFAFA;
      }

      tr:hover {
        background-color: #FCE4EC;
      }
    }

    .mat-paginator {
      background-color: #FFFFFF;
      padding: 0.5em;
      border-top: 1px solid #E0E0E0;
    }
  }

  .locked {
    color: #ff6b6b;
  }

  .unlocked {
    color: #38a01e;
  }

  .delete-button {
    background-color: white;
    height: 25px !important;
    width: auto !important;
  }

  .create-button {
    color: #ff6b6b;
    background-color: white;
    height: 40px !important;
    min-width: 30px !important;
    border-radius: 50% !important;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .ban-button {
    background-color: white;
    height: 40px !important;
    min-width: 30px !important;
    border-radius: 50% !important;
  }

  .fa-pencil {
    font-size: 14px;
  }

  .btn:hover {
    transform: translateY(-2px);
    /* Légère élévation au survol */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Ombre plus prononcée au survol */
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 20vw !important;
    padding-top: 10vh !important;
    align-items: center !important;
    justify-content: center !important;
    background: rgba(0, 0, 0, 0.5);
    /* Assure un fond d'écran semi-transparent */
  }

  .modal-dialog {
    margin: 0;
    max-width: 800px;
    /* Ajustez la largeur si nécessaire */
    width: 100%;
  }

  .custom-modal-width {
    max-width: 800px;
    /* Ajuste cette valeur selon le besoin */
    width: 100%;
    /* Pour s'assurer que la modal occupe tout l'espace défini */
  }