<form>
  <div>
    <h2>I. {{ 'CONFIDENTIAL.INTRO' | translate}}</h2>
    <p>
      {{ 'CONFIDENTIAL.INTRO_BIS' | translate}}.
    </p>

    <h2>II. {{ 'CONFIDENTIAL.APPLICATION' | translate}}</h2>
    <p>
      {{ 'CONFIDENTIAL.DECLARATION' | translate}}.
    </p>

    <h2>III. {{ 'CONFIDENTIAL.COLLECTE' | translate}}</h2>
    <h3>A. {{ 'CONFIDENTIAL.DATA_GET' | translate}}</h3>
    <p>{{ 'CONFIDENTIAL.DATA_TAKEN' | translate}} :</p>
    <ul>
      <li>
        <strong>{{ 'CONFIDENTIAL.DATA_USED' | translate}} :</strong> {{ 'CONFIDENTIAL.PERSONNAL' | translate}}.
      </li>
      <li>
        <strong>{{ 'CONFIDENTIAL.CREATE_DATA' | translate}} :</strong> {{ 'CONFIDENTIAL.HISTORY' | translate}}.
      </li>
      <li>
        <strong>{{ 'CONFIDENTIAL.RELATION' | translate}} :</strong> {{ 'CONFIDENTIAL.DETAILS' | translate}}.
      </li>
    </ul>

    <h3>B. {{ 'CONFIDENTIAL.USED' | translate}}</h3>
    <p>{{ 'CONFIDENTIAL.USED_FOR' | translate}} :</p>
    <ul>
      <li>{{ 'CONFIDENTIAL.BEST_SERVICES' | translate}}.</li>
      <li>
        {{ 'CONFIDENTIAL.PARTICULIER' | translate}}.
      </li>
      <li>
        {{ 'CONFIDENTIAL.SEND' | translate}}.
      </li>
      <li>{{ 'CONFIDENTIAL.ASSURER' | translate}}.</li>
      <li>
        {{ 'CONFIDENTIAL.EFFECTUER' | translate}}.
      </li>
      <li>
        {{ 'CONFIDENTIAL.PERSONNALISER' | translate}}.
      </li>
    </ul>

    <h2>IV. {{ 'CONFIDENTIAL.CHOICE' | translate}}</h2>
    <h3>A. {{ 'CONFIDENTIAL.RIGHT' | translate}}</h3>
    <p>{{ 'CONFIDENTIAL.RGPD' | translate}} :</p>
    <ul>
      <li>{{ 'CONFIDENTIAL.PERSONNAL_DATA_ACCESS' | translate}}.</li>
      <li>{{ 'CONFIDENTIAL.ASK_CORRECTION' | translate}}.</li>
      <li>{{ 'CONFIDENTIAL.ASK_DELETE' | translate}}.</li>
      <li>{{ 'CONFIDENTIAL.RESTREINDRE' | translate}}.</li>
      <li>{{ 'CONFIDENTIAL.ASK_PORTA' | translate}}.</li>
      <li>
        {{ 'CONFIDENTIAL.CONSENT' | translate}}.
      </li>
      <li>
        {{ 'CONFIDENTIAL.RECLAMATION' | translate}}.
      </li>
    </ul>

    <h3>B. {{ 'CONFIDENTIAL.COOKIES' | translate}}</h3>
    <p>
      {{ 'CONFIDENTIAL.MANAGE_COOKIES_PREF' | translate}}.
    </p>

    <h2>V. {{ 'CONFIDENTIAL.SHARE_DATA' | translate}}</h2>
    <p>
      {{ 'CONFIDENTIAL.WE_SHARE' | translate}} :
    </p>
    <ul>
      <li>{{ 'CONFIDENTIAL.FOURNISSEUR_SERV' | translate}}.</li>
      <li>{{ 'CONFIDENTIAL.TRANSPORT' | translate}}.</li>
      <li>{{ 'CONFIDENTIAL.MARKETING' | translate}}.</li>
      <li>{{ 'CONFIDENTIAL.HEALTHCARE' | translate}}.</li>
      <li>{{ 'CONFIDENTIAL.CLOUD' | translate}}.</li>
    </ul>

    <h2>VI. {{ 'CONFIDENTIAL.DATA_SAVED' | translate}}</h2>
    <p>
      {{ 'CONFIDENTIAL.WE_SAVE' | translate}}.
    </p>

    <h2>VII. {{ 'CONFIDENTIAL.SECURITY' | translate}}</h2>
    <p>
      {{ 'CONFIDENTIAL.TECHNICAL' | translate}}.
    </p>

    <h2>VIII. {{ 'CONFIDENTIAL.INTERNATIONAL' | translate}}</h2>
    <p>
      {{ 'CONFIDENTIAL.PERSONNAL_DATA' | translate}}.
    </p>

    <h2>IX. {{ 'CONFIDENTIAL.CONTACT' | translate}}</h2>
    <p>
      {{ 'CONFIDENTIAL.QUESTION' | translate}}.
    </p>

    <h2>X. {{ 'CONFIDENTIAL.CHANGE_POLITIQUE' | translate}}</h2>
    <p>
      {{ 'CONFIDENTIAL.RESERVES' | translate}}.
    </p>
  </div>
</form>
