form {
  max-width: 900px;
  margin-top: 20px;
}

form div {
  margin-bottom: 15px;
}

h1 {
  color: #ff6b6b;
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

h3 {
  color: #ff6b6b;
  font-size: 16px;
  margin-bottom: 20px;
}



/* Tout à gauche par défaut */
.privacy {
  text-align: left;
}

/* Titres centrés uniquement */
.privacy h2,
.privacy h3 {
  text-align: center;
}

/* (optionnel) s’assurer que les listes sont bien alignées */
.privacy ul { margin-left: 1.25rem; list-style: disc outside; }