<div class="container margin-top-50">
  <div class="sidebar">
    <ul>
      <li
        [ngClass]="{ active: isSectionActive('account-info') }"
        (click)="setActiveSection('account-info')"
      >
        {{ "PROFILE_MENU.INFORMATION" | translate }}
      </li>
      <li
        [ngClass]="{ active: isSectionActive('security') }"
        (click)="setActiveSection('security')"
      >
        {{ "PROFILE_MENU.SECURITY" | translate }}
      </li>
      <li
        [ngClass]="{ active: isSectionActive('privacy') }"
        (click)="setActiveSection('privacy')"
      >
        {{ "PROFILE_MENU.CONFIDENTIAL" | translate }}
      </li>
      <li
        [ngClass]="{ active: isSectionActive('calendar') }"
        (click)="setActiveSection('calendar')"
      >
        {{ "PROFILE_MENU.CALENDAR" | translate }}
      </li>
      <li
        *ngIf="me.role === 'professionnel'"
        [ngClass]="{ active: isSectionActive('dashboard') }"
        (click)="setActiveSection('dashboard')"
      >
        {{ "PROFILE_MENU.DASHBOARD" | translate }}
      </li>
      <li
        *ngIf="me.role === 'entreprise'"
        [ngClass]="{ active: isSectionActive('company') }"
        (click)="setActiveSection('company')"
      >
        {{ "PROFILE_MENU.COMPANY" | translate }}
      </li>
      <li
        *ngIf="me.role === 'professionnel'"
        [ngClass]="{ active: isSectionActive('management') }"
        (click)="setActiveSection('management')"
      >
        {{ "PROFILE_MENU.SHOP" | translate }}
      </li>
      <li
        *ngIf="me.role === 'admin'"
        [ngClass]="{ active: isSectionActive('admin') }"
        (click)="setActiveSection('admin')"
      >
        {{ "PROFILE_MENU.ADMIN" | translate }}
      </li>
    </ul>
  </div>
  <div class="content">
    <div *ngIf="isSectionActive('account-info')" id="account-info-content">
      <h1>{{ "PROFILE_MENU.INFORMATION" | translate }}</h1>
      <app-profile-informations [me]="me"></app-profile-informations>
    </div>
    <div *ngIf="isSectionActive('security')" id="security-content">
      <h1>{{ "PROFILE_MENU.SECURITY" | translate }}</h1>
      <!-- Ajouter le contenu lié à la sécurité ici -->
      <app-change-password [me]="me"></app-change-password>
    </div>
    <div *ngIf="isSectionActive('privacy')" id="privacy-content">
      <h1>{{ "PROFILE_MENU.CONFIDENTIAL" | translate }}</h1>
      <!-- Ajouter le contenu lié à la confidentialité ici -->
      <app-confidential-policy></app-confidential-policy>
    </div>
    <div *ngIf="isSectionActive('calendar')" id="calendar-content">
      <h1>{{ "PROFILE_MENU.CALENDAR" | translate }}</h1>
      <!-- Ajouter le contenu lié à la confidentialité ici -->
      <app-agenda [me]="me"></app-agenda>
    </div>
    <div *ngIf="isSectionActive('dashboard')" id="dashboard-content">
      <h1>{{ "PROFILE_MENU.DASHBOARD" | translate }}</h1>
      <!-- Ajouter le contenu lié à la confidentialité ici -->
      <app-dashboard [me]="me"></app-dashboard>
    </div>
    <div *ngIf="isSectionActive('company')" id="company-content">
      <h1>{{ "PROFILE_MENU.COMPANY" | translate }}</h1>
      <mat-tab-group>
        <mat-tab label="Employés affiliés">
          <!-- Ajouter le contenu lié à la confidentialité ici -->
          <app-company-management
            [myCompany]="myCompany"
            [employees]="employees"
          ></app-company-management>
        </mat-tab>
        <mat-tab label="Sécurité">
          <app-company-set-default-password
            [myCompany]="myCompany"
          ></app-company-set-default-password>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div *ngIf="isSectionActive('management')" id="management-content">
      <h1>{{ "PROFILE_MENU.SHOP" | translate }}</h1>
      <div class="row">
        <div class="col-11 custom-language-selector">
          <label for="languageSelect">Sélectionnez votre boutique :</label>
          <div class="select-box">
            <div class="selected" (click)="toggleDropdown()">
              {{ selected?.trad | translate }}
              <i class="arrow down"></i>
            </div>
            <ul class="options" *ngIf="dropdownOpen">
              <li *ngFor="let shop of shops" (click)="selectShop(shop)">
                {{ shop.trad | translate }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-1 margin-top-50">
          <button
            class="btn btn-primary action-btn"
            title="Créer une boutique"
            (click)="openModal()"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
          >
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <mat-tab-group>
        <mat-tab label="Informations générales" color="primary">
          <!-- Ajouter le contenu lié à la confidentialité ici -->
          <app-shop-management *ngIf="myShopData && me"
            [myShopData]="myShopData"
            [me]="me"
            (shopUpdated)="onShopUpdated($event)"
          ></app-shop-management>
        </mat-tab>
        <mat-tab label="Gestion des prestations">
          <!-- Ajouter le contenu lié à la confidentialité ici -->
          <app-shop-articles-management
            [myArticlesData]="myArticlesData"
            [me]="me"
          ></app-shop-articles-management>
        </mat-tab>
        <mat-tab label="Suivi financier">
          <app-finance [myShopData]="myShopData" [me]="me"></app-finance>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div *ngIf="isSectionActive('admin')" id="admin-content">
      <h1>{{ "PROFILE_MENU.ADMIN" | translate }}</h1>
      <!-- Ajouter le contenu lié à la confidentialité ici -->
      <app-admin></app-admin>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade show"
  tabindex="-1"
  [style.display]="modalOpen ? 'block' : 'none'"
  [ngClass]="{ show: modalOpen }"
  style="background: rgba(0, 0, 0, 0.5)"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Type de boutique à créer</h3>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="col-11 custom-shop-selector">
          <div class="select-box">
            <div class="selected" (click)="toggleDropdown2()">
              {{ selectedCategory?.trad | translate }}
              <i class="arrow down"></i>
            </div>
            <ul class="options" *ngIf="dropdownOpenNewShop">
              <li
                *ngFor="let category of categories"
                (click)="selectShopToCreate(category)"
              >
                {{ category.trad | translate }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Annuler
        </button>
        <button type="button" class="btn btn-primary" (click)="createShop()">
          Créer ma boutique
        </button>
      </div>
    </div>
  </div>
</div>
