:host {
  display: block;
  height: max-content;
  width: 97vw;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #333;
}


.sidebar {
  width: 200px;
  background-color: transparent;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #fcc7c7;
  color: #333;
  border-radius: 8px;
}


.sidebar ul li.active {
  background-color: #ff6b6b;
  color: white;
  border-radius: 8px;
}
.content {
  flex-grow: 1;
  padding: 30px;
  background-color: #fff;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.edit-button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #e55d5d;
}

.info {
  margin-top: 20px;
}

.info p {
  margin: 10px 0;
  font-size: 16px;
}

h1 {
  color: #ff6b6b;
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 15px;
}


.custom-language-selector {
  margin-top: 20px;
  
  .select-box {
    position: relative;
    width: 150px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }

  .selected {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
  }

  .selected img {
    margin-right: 10px;
  }

  .selected .arrow {
    margin-left: auto;
    transition: transform 0.3s ease;
  }

  .selected .arrow.down {
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    padding: 0;
    margin-top: 5px;
  }

  .options li {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .options li:hover {
    background-color: #f1f1f1;
  }

  .flag-icon {
    width: 20px;
    height: 15px;
    margin-right: 8px;
  }
}

.action-btn {
  border-radius: 50%;
  width: 35px; /* Taille ajustée */
  height: 35px; /* Taille ajustée */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 16px; /* Taille ajustée */
  line-height: 1;
}

.btn {
  margin-right: 5px;
  border-radius: 50%; /* Rendre les boutons ronds */
  width: 35px; /* Réduction de la taille des boutons */
  height: 35px; /* Réduction de la taille des boutons */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 16px; /* Réduction de la taille de la police */
  line-height: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Ajout d'une ombre subtile */
  transition: transform 0.1s, box-shadow 0.1s; /* Animation au survol */
}

.btn-primary {
  background-color: #ff6b6b; /* Harmoniser avec le reste de l'appli */
  border: none;
}

.btn-warning {
  background-color: #ffc107; /* Teinte plus douce pour le bouton de modification */
  border: none;
  color: white;
}

.btn-danger {
  background-color: #ff4d4d; /* Harmoniser avec le reste de l'appli */
  border: none;
  color: white;
}

.btn:hover {
  transform: translateY(-2px); /* Légère élévation au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}