<div class="container-fluid mt-4">
  <div class="row margin-top-10">
    <!-- MENU LATÉRAL -->
    <div class="col-12 col-md-3 sidebar mb-3">
      <ul>
        <li [ngClass]="{ active: isSectionActive('account-info') }" (click)="setActiveSection('account-info')">
          {{ "PROFILE_MENU.INFORMATION" | translate }}
        </li>
        <li [ngClass]="{ active: isSectionActive('security') }" (click)="setActiveSection('security')">
          {{ "PROFILE_MENU.SECURITY" | translate }}
        </li>
        <li [ngClass]="{ active: isSectionActive('message') }" (click)="setActiveSection('message')">
          {{ "PROFILE_MENU.MESSAGE" | translate }}
        </li>
        <li *ngIf="me.role === 'professionnel' || me.role === 'boss'"
          [ngClass]="{ active: isSectionActive('management') }" (click)="setActiveSection('management')">
          {{ "PROFILE_MENU.SHOP" | translate }}
        </li>
        <li *ngIf="me.role === 'professionnel' || me.role === 'boss'"
          [ngClass]="{ active: isSectionActive('calendar') }" (click)="setActiveSection('calendar')">
          {{ "PROFILE_MENU.CALENDAR" | translate }}
        </li>
        <!--
        <li *ngIf="me.role === 'professionnel' || me.role === 'boss'"
          [ngClass]="{ active: isSectionActive('dashboard') }" (click)="setActiveSection('dashboard')">
          {{ "PROFILE_MENU.DASHBOARD" | translate }}
        </li>
        -->
        <li *ngIf="me.role === 'entreprise'" [ngClass]="{ active: isSectionActive('company') }"
          (click)="setActiveSection('company')">
          {{ "PROFILE_MENU.COMPANY" | translate }}
        </li>
        <li [ngClass]="{ active: isSectionActive('admin') }" (click)="setActiveSection('admin')">
          {{ "PROFILE_MENU.ADMIN" | translate }}
        </li>
        <li [ngClass]="{ active: isSectionActive('privacy') }" (click)="setActiveSection('privacy')">
          {{ "PROFILE_MENU.CONFIDENTIAL" | translate }}
        </li>
      </ul>
    </div>
    <!-- CONTENU PRINCIPAL -->
    <div class="col-12 col-md-9 content">
      <div *ngIf="isSectionActive('account-info')" id="account-info-content">
        <div class="page-title-wrapper">
          <h1 class="page-title">{{ "PROFILE_MENU.INFORMATION" | translate }}</h1>
          <p class="page-subtitle">{{ "PROFILE_MENU.INFORMATION_SUBTITLE" | translate }}</p>
        </div>
        <app-profile-informations [me]="me"></app-profile-informations>
      </div>
      <div *ngIf="isSectionActive('security')" id="security-content">
        <div class="page-title-wrapper">
          <h1 class="page-title">{{ "PROFILE_MENU.SECURITY" | translate }}</h1>
          <p class="page-subtitle">{{ "PROFILE_MENU.SECURITY_SUBTITLE" | translate }}</p>
        </div>
        <app-change-password [me]="me"></app-change-password>
      </div>
      <div *ngIf="isSectionActive('message')" id="message">
        <div class="page-title-wrapper">
          <h1 class="page-title">{{ "PROFILE_MENU.MESSAGE" | translate }}</h1>
          <p class="page-subtitle">{{ "PROFILE_MENU.MESSAGE_SUBTITLE" | translate }}</p>
        </div>
        <app-messagerie></app-messagerie>
      </div>
      <div *ngIf="isSectionActive('privacy')" id="privacy-content">
        <div class="page-title-wrapper">
          <h1 class="page-title">{{ "PROFILE_MENU.CONFIDENTIAL" | translate }}</h1>
          <p class="page-subtitle">{{ "PROFILE_MENU.CONFIDENTIAL_SUBTITLE" | translate }}</p>
        </div>
        <app-confidential-policy></app-confidential-policy>
      </div>
      <div *ngIf="isSectionActive('calendar')" id="calendar-content">
        <div class="page-title-wrapper">
          <h1 class="page-title">{{ "PROFILE_MENU.CALENDAR" | translate }}</h1>
          <p class="page-subtitle">{{ "PROFILE_MENU.CALENDAR_SUBTITLE" | translate }}</p>
        </div>
        <app-agenda [me]="me" [shops]="shops"></app-agenda>
      </div>
      <!--
      <div *ngIf="isSectionActive('dashboard')" id="dashboard-content">
        <div class="page-title-wrapper">
          <h1 class="page-title">{{ "PROFILE_MENU.DASHBOARD" | translate }}</h1>
          <p class="page-subtitle">{{ "PROFILE_MENU.DASHBOARD_SUBTITLE" | translate }}</p>
        </div>
        <app-dashboard [me]="me"></app-dashboard>
      </div>
      -->
      <div *ngIf="isSectionActive('company')" id="company-content">
        <div class="page-title-wrapper">
          <h1 class="page-title">{{ "PROFILE_MENU.COMPANY" | translate }}</h1>
          <p class="page-subtitle">{{ "PROFILE_MENU.COMPANY_SUBTITLE" | translate }}</p>
        </div>
        <mat-tab-group class="custom-tab-group" mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="Employés affiliés">
            <app-company-management [myCompany]="myCompany" [employees]="employees"></app-company-management>
          </mat-tab>
          <mat-tab label="Sécurité">
            <app-company-set-default-password [myCompany]="myCompany"></app-company-set-default-password>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div *ngIf="isSectionActive('management')" id="management-content">
        <div class="page-title-wrapper">
          <h1 class="page-title">{{ "PROFILE_MENU.SHOP" | translate }}</h1>
          <p class="page-subtitle">{{ "PROFILE_MENU.SHOP_SUBTITLE" | translate }}</p>
        </div>
        <!-- SECTION BOUTONS SHOP -->
        <div class="row justify-content-between align-items-center g-3 flex-wrap shop-selector-wrapper"
          *ngIf="me.role === 'boss'">
          <div class="col-12 col-md-8" *ngIf="multiShopsActivated">
            <div class="d-flex flex-column flex-sm-row align-items-center gap-2">
              <div class="flex-grow-1 w-100">
                <label for="languageSelect" class="form-label title-label">
                  {{ "PROFILE_MENU.SELECT_SALON" | translate }}:
                </label>
                <div class="select-box rosy-select" (click)="toggleDropdown()">
                  <div class="selected">
                    <div>{{ selected?.name | translate }} <span class="pink">({{ selected?.trad | translate }})</span>
                    </div>
                    <i class="arrow down"></i>
                  </div>
                  <ul class="options" *ngIf="dropdownOpen">
                    <li *ngFor="let shop of shops" (click)="selectShop(shop)">
                      {{ shop?.name | translate }} <span class="pink">({{ shop.trad | translate }})</span>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="d-flex justify-content-center align-items-center mt-2 mt-sm-4">
                <button class="btn btn-apple-like rounded-circle" (click)="deletShop()" [disabled]="shops.length <= 1">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>


          <div class="col-12 col-md-4 d-flex align-items-center justify-content-md-end justify-content-start"
            *ngIf="multiShopsActivated">
            <button [disabled]="shops.length >= 10" class="btn btn-primary rosy-action-btn"
              (click)="openCreateShopModal()">
              {{ "PROFILE_MENU.NEW_SALON" | translate }}
            </button>
          </div>
        </div>
        <mat-tab-group class="custom-tab-group" [ngClass]="!multiShopsActivated ? 'margin-top-n80' : ''"
          mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab [label]="'TABS.FINANCE' | translate">
            <app-finance [myShopData]="myShopData" [me]="me"></app-finance>
          </mat-tab>

          <mat-tab color="primary" [label]="'TABS.GENERAL_INFO' | translate">
            <app-shop-management *ngIf="myShopData && me" [myShopData]="myShopData"
              (shopUpdated)="onShopUpdated($event)"></app-shop-management>
          </mat-tab>

          <mat-tab color="primary" *ngIf="me.role === 'admin'" [label]="'TABS.EMPLOYEES' | translate">
            <app-shop-employees *ngIf="myShopData && me" [me]="me"></app-shop-employees>
          </mat-tab>

          <mat-tab [label]="'TABS.SERVICES' | translate">
            <app-shop-articles-management [myArticlesData]="myArticlesData" [myShopData]="myShopData"
              (articleUpdated)="onArticleUpdated()"></app-shop-articles-management>
          </mat-tab>

          <mat-tab [label]="'TABS.PHOTOS' | translate">
            <app-shop-photo-gallery *ngIf="myShopData && me" [myShopData]="myShopData"
              (shopUpdated)="onShopUpdated($event)"></app-shop-photo-gallery>
          </mat-tab>

          <mat-tab [label]="'TABS.MESSAGE' | translate">
            <app-messagerie *ngIf="myShopData && me"></app-messagerie>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div *ngIf="isSectionActive('admin')" id="admin-content">
        <div class="page-title-wrapper">
          <h1 class="page-title">{{ "PROFILE_MENU.ADMIN" | translate }}</h1>
          <p class="page-subtitle">{{ "PROFILE_MENU.ADMIN_SUBTITLE" | translate }}</p>
        </div>
        <mat-tab-group class="custom-tab-group" mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab [label]="'TABS.STATS' | translate" color="primary">
            <app-admin></app-admin>
          </mat-tab>
          <mat-tab [label]="'TABS.PARAM' | translate">
            <app-admin-param></app-admin-param>
          </mat-tab>
          <mat-tab [label]="'TABS.SHOPS' | translate">
            <app-admin-shops-management></app-admin-shops-management>
          </mat-tab>
          <mat-tab [label]="'TABS.USERS' | translate">
            <app-admin-clients-management></app-admin-clients-management>
          </mat-tab>
          <mat-tab [label]="'TABS.MESSAGE' | translate">
            <app-admin-messagerie></app-admin-messagerie>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>