<form>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 mb-4">
        <div class="dashboard-card">
          <h3>{{ "DASHBOARD.TOTAL" | translate }}</h3>
          <p class="dashboard-number">{{ totalReservations }}</p>
          <p class="dashboard-description">{{ "DASHBOARD.TOTAL_MONTH" | translate }}</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 mb-4">
        <div class="dashboard-card">
          <h3>{{ "DASHBOARD.GENERATED" | translate }}</h3>
          <p class="dashboard-number">{{ totalRevenue | currency : "EUR" }}</p>
          <p class="dashboard-description">{{ "DASHBOARD.MONTHLY" | translate }}</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 mb-4">
        <div class="dashboard-card">
          <h3>{{ "DASHBOARD.AVG_NOTE" | translate }}</h3>
          <p class="dashboard-number">{{ averageRating.toFixed(1) }} / 5</p>
          <p class="dashboard-description">{{ "DASHBOARD.BASED_ON" | translate }} {{ totalReviews }} {{ "DASHBOARD.REVIEWS" | translate }}</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 mb-4">
        <div class="dashboard-card">
          <h3>{{ "DASHBOARD.NEXT_APPOINTEMENT" | translate }}</h3>
          <ul>
            <li *ngFor="let appointment of upcomingAppointments">
              {{ appointment.date | date : "short" }} -
              {{ appointment.clientName }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 mb-4">
        <div class="dashboard-card">
          <h3>{{ "DASHBOARD.POPULAR_SERVICES" | translate }}</h3>
          <ul>
            <li *ngFor="let service of popularServices">
              {{ service.name }} - {{ service.reservations }} {{ "DASHBOARD.RESERVATION" | translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</form>
