.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #4a4a4a00;
}
.mat-mdc-form-field-subscript-wrapper {
  width: 0%;
  height: 0px ;
}

.mat-mdc-text-field-wrapper {
  width: 65%;
}

.mat-mdc-select-value {
  color: rgba(0, 0, 0, 0.87);
  white-space: nowrap;
  overflow:visible ;
  text-overflow:initial ;
}

.mdc-menu-surface {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  background-color: var(--mdc-theme-surface, #f0f0f0) ;
  color: var(--mdc-theme-on-surface, rgb(33, 3, 3)) ;
}

.mat-primary
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: var(--mdc-theme-primary, #793141);
}

.mdc-list-item__primary-text {
  color: var(--mdc-theme-primary, #9b9b9b);
}

.mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
  color: #9b9b9b ;
}

.mat-mdc-select-arrow {
  color: #9b9b9b ;
}

.mat-mdc-select-arrow svg {
  display: none ;
}

.mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom: none;
  border-bottom-color: var(--mdc-theme-primary, none);
}
.mat-typography {
  background: #F7F7F7 ;
  
}

input#mat-input-0 {
  color: black;
}
input#mat-input-1 {
  color: black;
}
.matfix.mat-mdc-form-field.mat-primary {
  border: 1px #9b9b9b solid !important;
  color: #9b9b9b !important;
  border-radius: 6px;
}

.matfix.mat-mdc-form-field.mat-focused.mat-primary {
  border: none !important;
}