/************ padding-top ************/

.padding-top-1 {
  padding-top: 1px;
}

.padding-top-2 {
  padding-top: 2px;
}

.padding-top-3 {
  padding-top: 3px;
}

.padding-top-4 {
  padding-top: 4px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-25 {
  padding-top: 25px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-35 {
  padding-top: 35px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-45 {
  padding-top: 45px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-75 {
  padding-top: 75px;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-top-150 {
  padding-top: 150px;
}

.padding-top-175 {
  padding-top: 175px;
}

/** padding-top (vw) **/

.padding-top-4vw {
  padding-top: 4vw;
}

.padding-top-5vw {
  padding-top: 5vw;
}

.padding-top-6vw {
  padding-top: 6vw;
}

.padding-top-7vw {
  padding-top: 7vw;
}

.padding-top-8vw {
  padding-top: 8vw;
}

.padding-top-9vw {
  padding-top: 9vw;
}

.padding-top-10vw {
  padding-top: 10vw;
}

.padding-top-11vw {
  padding-top: 11vw;
}

.padding-top-12vw {
  padding-top: 12vw;
}

.padding-top-14vw {
  padding-top: 14vw;
}

.padding-top-15vw {
  padding-top: 15vw;
}

.padding-top-20vw {
  padding-top: 20vw;
}

.padding-top-25vw {
  padding-top: 25vw;
}

.padding-top-30vw {
  padding-top: 30vw;
}

.padding-top-35vw {
  padding-top: 35vw;
}

.padding-top-36vw {
  padding-top: 35vw;
}

.padding-top-37vw {
  padding-top: 37vw;
}

.padding-top-38vw {
  padding-top: 38vw;
}

.padding-top-39vw {
  padding-top: 39vw;
}

.padding-top-40vw {
  padding-top: 40vw;
}

/************ padding-bottom ************/

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-25 {
  padding-bottom: 25px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.padding-bottom-150 {
  padding-bottom: 150px;
}

.padding-bottom-175 {
  padding-bottom: 175px;
}

/** padding-bottom (vw) **/

.padding-bottom-4vw {
  padding-bottom: 4vw;
}

.padding-bottom-5vw {
  padding-bottom: 5vw;
}

.padding-bottom-6vw {
  padding-bottom: 6vw;
}

.padding-bottom-7vw {
  padding-bottom: 7vw;
}

.padding-bottom-8vw {
  padding-bottom: 8vw;
}

.padding-bottom-9vw {
  padding-bottom: 9vw;
}

.padding-bottom-10vw {
  padding-bottom: 10vw;
}

.padding-bottom-11vw {
  padding-bottom: 11vw;
}

.padding-bottom-12vw {
  padding-bottom: 12vw;
}

.padding-bottom-14vw {
  padding-bottom: 14vw;
}

.padding-bottom-15vw {
  padding-bottom: 15vw;
}

.padding-bottom-20vw {
  padding-bottom: 20vw;
}

.padding-bottom-25vw {
  padding-bottom: 25vw;
}

.padding-bottom-30vw {
  padding-bottom: 30vw;
}

.padding-bottom-35vw {
  padding-bottom: 35vw;
}

.padding-bottom-36vw {
  padding-bottom: 35vw;
}

.padding-bottom-37vw {
  padding-bottom: 37vw;
}

.padding-bottom-38vw {
  padding-bottom: 38vw;
}

.padding-bottom-39vw {
  padding-bottom: 39vw;
}

.padding-bottom-40vw {
  padding-bottom: 40vw;
}

/************ padding-left ************/

.padding-left-5 {
  padding-left: 5px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-25 {
  padding-left: 25px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-left-100 {
  padding-left: 100px;
}

.padding-left-150 {
  padding-left: 150px;
}

.padding-left-175 {
  padding-left: 175px;
}

/** padding-left (vw) **/

.padding-left-4vw {
  padding-left: 4vw;
}

.padding-left-5vw {
  padding-left: 5vw;
}

.padding-left-6vw {
  padding-left: 6vw;
}

.padding-left-7vw {
  padding-left: 7vw;
}

.padding-left-8vw {
  padding-left: 8vw;
}

.padding-left-9vw {
  padding-left: 9vw;
}

.padding-left-10vw {
  padding-left: 10vw;
}

.padding-left-11vw {
  padding-left: 11vw;
}

.padding-left-12vw {
  padding-left: 12vw;
}

.padding-left-14vw {
  padding-left: 14vw;
}

.padding-left-15vw {
  padding-left: 15vw;
}

.padding-left-20vw {
  padding-left: 20vw;
}

.padding-left-25vw {
  padding-left: 25vw;
}

.padding-left-30vw {
  padding-left: 30vw;
}

.padding-left-35vw {
  padding-left: 35vw;
}

.padding-left-36vw {
  padding-left: 35vw;
}

.padding-left-37vw {
  padding-left: 37vw;
}

.padding-left-38vw {
  padding-left: 38vw;
}

.padding-left-39vw {
  padding-left: 39vw;
}

.padding-left-40vw {
  padding-left: 40vw;
}



/************ padding-right ************/

.padding-right-5 {
  padding-right: 5px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-right-25 {
  padding-right: 25px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-right-100 {
  padding-right: 100px;
}

.padding-right-150 {
  padding-right: 150px;
}

.padding-right-175 {
  padding-right: 175px;
}

/** padding-right (vw) **/

.padding-right-4vw {
  padding-right: 4vw;
}

.padding-right-5vw {
  padding-right: 5vw;
}

.padding-right-6vw {
  padding-right: 6vw;
}

.padding-right-7vw {
  padding-right: 7vw;
}

.padding-right-8vw {
  padding-right: 8vw;
}

.padding-right-9vw {
  padding-right: 9vw;
}

.padding-right-10vw {
  padding-right: 10vw;
}

.padding-right-11vw {
  padding-right: 11vw;
}

.padding-right-12vw {
  padding-right: 12vw;
}

.padding-right-14vw {
  padding-right: 14vw;
}

.padding-right-15vw {
  padding-right: 15vw;
}

.padding-right-20vw {
  padding-right: 20vw;
}

.padding-right-25vw {
  padding-right: 25vw;
}

.padding-right-30vw {
  padding-right: 30vw;
}

.padding-right-35vw {
  padding-right: 35vw;
}

.padding-right-36vw {
  padding-right: 35vw;
}

.padding-right-37vw {
  padding-right: 37vw;
}

.padding-right-38vw {
  padding-right: 38vw;
}

.padding-right-39vw {
  padding-right: 39vw;
}

.padding-right-40vw {
  padding-right: 40vw;
}

.left-70px {
  left: 70px !important;
}

.left-250px {
  left: 250px !important;
}