.table-head {
    background-color: #793141 !important;
    color: white;
    border: 1px solid rgb(187, 187, 187) !important;
}

#table {
    box-shadow: 4px 4px 0px 0px rgba(168, 163, 163, 0.15) !important;
}

th {
    font-weight: 500 !important;
}
.ngb-highlight {
    font-weight: 400 !important;
}
.page-link {
    color: #9B9B9B !important;
    border-radius: 5px;
    margin-left: 7px !important;
}

.page-link:active {
    background: #793141 !important;
    color: white !important;
}

.active>.page-link, .page-link.active {
    background: #793141 !important;
    color: white !important;
    border-color: #764602;
}

tbody.white-table {
    background-color: white;
    border: #D8DCE1 solid 1px;
}

table {
    font-size: 1.2rem;
}

tr {
    border: #D8DCE1 solid 1px;
}

.custom-table-hover tbody tr:hover td {
    background-color: #f7f7f7 !important;
}