
<div class="center">
  <h2 class="page-title margin-top-80">🌟 {{ "FIDELITY.TITLE" | translate }} 🌟</h2>
  <p class="sub-text">
    {{ "FIDELITY.AGAIN" | translate }} <strong>{{ 10 - stars }}</strong> <span class="highlight"> izyGlams</span> {{ "FIDELITY.AGAIN_SUBTITLE" | translate }} 🎁
  </p>
  <p class="expiry-text">{{ "FIDELITY.DATE" | translate }} <strong>{{ expiryDate }}</strong></p>
</div>
  <div class="fidelity-wrapper">
  
    <!-- Zone de progression -->
    <div class="progress-stars">
      <div *ngFor="let star of fullStars; let i = index" class="star full">
        <img [src]="logoStar" alt="izyGlam star" />
      </div>
      <div *ngFor="let star of emptyStars; let i = index" class="star empty">
        <img src="/assets/images/empty-star.png" alt="empty star" />
      </div>
    </div>
  
    <!-- Historique -->
    <div class="history-section">
      <h3>🎉 {{ "FIDELITY.HISTO" | translate }}</h3>
      <div class="history-item" *ngFor="let reward of starsArray">
        <img
          [src]="logoStar"
          class="history-icon"
          alt="reward"
        />
        <div class="history-content">
          <span class="reward-name">{{ reward.reward_name }}</span>
          <span class="reward-date">{{ reward.reward_date }}</span>
        </div>
      </div>
    </div>
  </div>
  