.image-container {
  position: relative;
  width: 100%;
  max-width: 500px; /* ou la taille que tu veux */
  height: auto;
}

.background-image {
  width: 100%;
  height: auto;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.7; /* Ajuste l'opacité si nécessaire */
}
