<form (ngSubmit)="changePassword()">
  <h2 class="margin-top-20"> {{ 'SECURITY.CHANGE_LANGUE' | translate }}</h2>
  <div class="custom-language-selector">
    <label for="languageSelect">{{ 'SECURITY.LANGUE' | translate }} :</label>
    <div class="select-box">
      <div class="selected" (click)="toggleDropdown()">
        <img
          [src]="selected.flag"
          class="flag-icon"
          alt="{{ selected?.name }}"
        />
        {{ selected?.name }}
        <i class="arrow down"></i>
      </div>
      <ul class="options" *ngIf="dropdownOpen">
        <li *ngFor="let lang of langues" (click)="selectLanguage(lang)">
          <img *ngIf="lang && lang.flag" [src]="lang.flag" class="flag-icon" alt="{{ lang.name }}" />
          {{ lang.name }}
        </li>
      </ul>
    </div>
  </div>
  <h2>{{ 'SECURITY.CHANGE_PASSWORD_TITLE' | translate }}</h2>
  <div>
    <label for="currentPassword">{{ 'SECURITY.ACTUAL_PASSWORD' | translate }}</label>
    <input
      [(ngModel)]="elem.currentPassword"
      class="input-style"
      type="password"
      id="currentPassword"
      name="currentPassword"
      required
    />
  </div>
  <div>
    <label for="newPassword">{{ 'SECURITY.NEW_PASSWORD' | translate }}</label>
    <input
      [(ngModel)]="elem.newPassword"
      class="input-style"
      type="password"
      id="newPassword"
      name="newPassword"
      required
    />
  </div>
  <div>
    <label for="confirmPassword">{{ 'SECURITY.CONFIRMED_PASSWORD' | translate }}</label>
    <input
      [(ngModel)]="elem.confirmPassword"
      class="input-style"
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      required
    />
  </div>
  <button type="submit" [disabled]="!isPasswordFormValid()">
    {{ 'SECURITY.CHANGE_PASSWORD' | translate }}
  </button>
  <div *ngIf="passwordChangeError" class="error">{{ passwordChangeError }}</div>
  <div *ngIf="passwordChangeSuccess" class="success">
    {{ 'SECURITY.CHANGE_OK' | translate }}.
  </div>
</form>
