<div class="employees-wrapper">  
    <h3 class="loading">{{ "EMPLOYEES.ADD_EMPLOYEES" | translate }}</h3>
    <div class="add-employee-form">
      <div class="form-flex">
        <div class="form-inputs">
          <input [(ngModel)]="newEmployee.email" [placeholder]="('EMPLOYEES.EMAIL' | translate)" type="email">
          <input [(ngModel)]="newEmployee.firstname" [placeholder]="('EMPLOYEES.FIRSTNAME' | translate)" type="text">
          <input [(ngModel)]="newEmployee.lastname" [placeholder]="('EMPLOYEES.FAMILY_NAME' | translate)" type="text">
          <input [(ngModel)]="newEmployee.phone" [placeholder]="('EMPLOYEES.PHONE' | translate)" type="text">
          <input [(ngModel)]="newEmployee.password" [placeholder]="('EMPLOYEES.PASSWORD' | translate)" type="text">
        </div>
        <div class="form-button">
          <button class="rosy-action-btn" [disabled]="isSubmitting" (click)="addEmployee()">{{ "EMPLOYEES.ADD" | translate }}</button>
        </div>
      </div>
    </div>
  
    <div *ngIf="loading" class="loading">{{ "EMPLOYEES.LOADING" | translate }}...</div>
  
    <h3 class="loading">{{ "EMPLOYEES.LIST" | translate }}</h3>
    
    <ul *ngIf="!loading">
      <li *ngFor="let emp of employees">
        {{ emp.firstname }} {{ emp.lastname }} ({{ emp.email }})     
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-apple-like rounded-circle" (click)="removeEmployee(emp._id)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
      </li>
    </ul>
  
    <div class="feedback" *ngIf="feedbackMessage">
      {{ feedbackMessage }}
    </div>
  </div>
  