<h2 mat-dialog-title class="modal-title">
  <span *ngIf="step === 1">{{ "ADDRESS_MODAL.ADDRESS" | translate }}</span>
  <span *ngIf="step === 2">{{ "ADDRESS_MODAL.ADDRESS_MODIFICATION" | translate }}</span>
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content class="modal-content">
  <div class="address-list">
    <span *ngIf="step === 1">
      <div class="address-item" *ngFor="let address of data.user.address">
        <mat-icon class="location-icon">location_on</mat-icon>
        <div class="address-info">
          <p class="address">{{ address.street }}</p>
          <p class="city">{{ address.city }}, {{ address.code_postal }}</p>
        </div>
        <!--<mat-icon (click)="editAddress(address)" class="edit-icon">edit</mat-icon>-->
      </div>
    </span>
    <span *ngIf="step === 2">
      <div class="payment-selection">
        <!--<p>Veuillez entrer les détails de votre carte bancaire :</p>-->
        <form class="payment-form">

          <!-- 1. Pays -->
          <div class="form-group">
            <label for="country">{{"ADDRESS_MODAL.COUNTRY" | translate}}</label>
            <select id="country" [(ngModel)]="selectedCountry" name="country" (change)="onCountryChange()" required>
              <option value="">-- {{ "ADDRESS_MODAL.CHOOSE_COUNTRY" | translate }} --</option>
              <option *ngFor="let country of availableCountries" [value]="country">{{ country }}</option>
            </select>
          </div>

          <!-- 2. Code Postal -->
          <div class="form-group">
            <label for="postalCode">{{"ADDRESS_MODAL.CP" | translate}}</label>
            <input disabled *ngIf="availableCities.length === 0" type="text" id="city" name="city"
              [value]="selectedCity?.name" placeholder="Ville" />
          </div>

          <!-- 3. Ville -->
          <div class="form-group">
            <label for="city">{{"ADDRESS_MODAL.CITY" | translate}}</label>
            <select *ngIf="availableCities.length > 0" id="city" [(ngModel)]="selectedCity" name="city" required>
              <option value="">-- {{ "ADDRESS_MODAL.CHOOSE_CITY" | translate }} --</option>
              <option *ngFor="let city of availableCities" [value]="city">{{ city.nom }}</option>
            </select>
            <input disabled *ngIf="availableCities.length === 0" type="text" id="city" name="city"
              value="selectedCity.name" [(ngModel)]="selectedCity" placeholder="Ville" />
          </div>

          <!-- 4. Rue -->
          <div class="form-group">
            <label for="street">{{"ADDRESS_MODAL.STREET" | translate}}</label>
            <input type="text" id="street" [(ngModel)]="newAddress.street" name="street" placeholder="Rue" required />
          </div>

        </form>

      </div>
    </span>
  </div>

  <div class="preference-time">
    <button *ngIf="step === 1" (click)="newAddresss()" mat-button class="schedule-button">
      {{ "ADDRESS_MODAL.CREATE" | translate }}
    </button>
    <button *ngIf="step === 2" (click)="stepMinus()" mat-button class="schedule-button">
      {{ "ADDRESS_MODAL.BACK" | translate }}
    </button>
    <button *ngIf="step === 2 && validate" (click)="saveAddress()" mat-button class="schedule-button margin-left-10">
      {{ "ADDRESS_MODAL.CHANGE" | translate }}
    </button>
  </div>
</mat-dialog-content>