<h2 mat-dialog-title class="modal-title">
  <span *ngIf="step === 1">{{ "ADDRESS_MODAL.ADDRESS" | translate }}</span>
  <span *ngIf="step === 2">{{ "ADDRESS_MODAL.ADDRESS_MODIFICATION" | translate }}</span>
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content class="modal-content">
  <div class="address-list">
    <span *ngIf="step === 1">
      <div class="address-item" *ngFor="let address of data.user.address">
        <mat-icon class="location-icon">location_on</mat-icon>
        <div class="address-info">
          <p class="address">{{ address.street }}</p>
          <p class="city">{{ address.city }}, {{ address.code_postal }}</p>
        </div>
        <mat-icon (click)="editAddress(address)" class="edit-icon"
          >edit</mat-icon
        >
      </div>
    </span>
    <span *ngIf="step === 2">
      <div class="payment-selection">
        <!--<p>Veuillez entrer les détails de votre carte bancaire :</p>-->
        <form class="payment-form">
          <div class="form-group">
            <label for="prenom">{{ "ADDRESS_MODAL.STREET" | translate }}</label>
            <input
              [(ngModel)]="elem.street"
              (ngModelChange)="showValidate()"
              type="text"
              id="prenom"
              name="prenom"
              placeholder="Jean"
              required
            />
          </div>
          <div class="form-group">
            <label for="nom">{{ "ADDRESS_MODAL.CITY" | translate }}</label>
            <input
              [(ngModel)]="elem.city"
              (ngModelChange)="showValidate()"
              type="text"
              id="nom"
              name="nom"
              placeholder="Dupont"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">{{ "ADDRESS_MODAL.CP" | translate }}</label>
            <input
              [(ngModel)]="elem.code_postal"
              (ngModelChange)="showValidate()"
              type="text"
              id="email"
              name="email"
              placeholder="jean.dupont@gmail.com"
              required
            />
          </div>
        </form>
      </div>
    </span>
  </div>

  <div class="preference-time">
    <button
      *ngIf="step === 1"
      (click)="newAddress()"
      mat-button
      class="schedule-button"
    >
    {{ "ADDRESS_MODAL.CREATE" | translate }}
    </button>
    <button
      *ngIf="step === 2"
      (click)="stepMinus()"
      mat-button
      class="schedule-button"
    >
    {{ "ADDRESS_MODAL.BACK" | translate }}
    </button>
    <button
      *ngIf="step === 2 && validate"
      mat-button
      class="schedule-button margin-left-10"
    >
    {{ "ADDRESS_MODAL.CHANGE" | translate }}
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="modal-actions">
  <button mat-button mat-dialog-close>{{ "ADDRESS_MODAL.CLOSE" | translate }}</button>
</mat-dialog-actions>
