.example-container {
  width: 100vw;
  height: 100%;
  margin: 0;
}

mat-drawer-content {
  padding-left: 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.drawer-content {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}

.drawer-content2 {
  width: 400px; /* Ajuster la largeur selon vos besoins */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-weight: bold;
  margin: 0;
}

.manage-account {
  color: #a32b3a;
  text-decoration: none;
  font-size: 14px;
}

.drawer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.drawer-menu li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
}

.drawer-menu i {
  margin-right: 10px;
  font-size: 18px;
}

.drawer-menu.secondary {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.drawer-menu.secondary li {
  padding: 5px 0;
  font-size: 14px;
}

.drawer-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drawer-footer {
  margin-top: auto;
}

.cart-drawer {
  width: 300px;
}

.cart-inner {
  padding: 20px;
  width: 100%;
}

.cart-header {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-details p {
  margin: 5px 0;
}

.cart-item-price {
  font-weight: bold;
}

.cart-message input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
}

.cart-button {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.menu-hover:hover {
  background-color: #d8d8d8;
  border-radius: 20px;
}
