.example-container {
  width: 100vw;
  height: 100%;
  margin: 0;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: center;  // Centre uniquement horizontalement
  width: 100%;  // Assure que le contenu occupe toute la largeur
}


.drawer-content {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}

.drawer-content2 {
  width: 400px; /* Ajuster la largeur selon vos besoins */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-weight: bold;
  margin: 0;
}

.manage-account {
  color: #a32b3a;
  text-decoration: none;
  font-size: 14px;
}

.side-item {
  font-size: 13px !important;
}

.side-icon {
  width: 16px !important;
  height: auto;
}

.drawer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.drawer-menu li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
}

.drawer-menu i {
  margin-right: 10px;
  font-size: 18px;
}

.drawer-menu.secondary {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.drawer-menu.secondary li {
  padding: 5px 0;
  font-size: 14px;
}

.drawer-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drawer-footer {
  margin-top: auto;
}

.cart-drawer {
  width: 300px;
}

.cart-inner {
  padding: 20px;
  width: 100%;
}

.cart-header {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-details p {
  margin: 5px 0;
}

.cart-item-price {
  font-weight: bold;
}

.cart-message input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
}

.cart-button {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.menu-hover:hover {
  background-color: #d8d8d8;
  border-radius: 20px;
  padding-left: 2vw !important;
}

.menu-hover {
  padding-left: 2vw !important;
}





/********          CHAT CONTAINER WITH STARS          ********/
/* Chat container with stars */

.chat-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 80px;  /* Ajusté pour inclure le mouvement orbital */
  height: 40px; 
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Chat button */
.chat-button {
  position: relative;
  width: 60px;
  height: auto;
  cursor: pointer;
  object-fit: contain;
  background-color: transparent;
  z-index: 9 !important;  /* Le bouton est au-dessous des étoiles */
  transition: transform 0.3s ease;
}

.chat-button:hover {
  transform: scale(1.1);
}

/* Star elements */
.star {
  position: absolute;
  width: 40px;  /* Taille des étoiles */
  height: 40px;
  // background-image: url(#{$backgroundImages}); /* Chemin de l'image star.png */
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  animation: rotateAround 5s infinite linear;  /* Animation orbitale */
  /* Ajout de l'ombre */
  
  transform: translateY(-2px); /* Légère élévation au survol */
  // box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}


/* Position initiale des étoiles (avant rotation) */
.star1 { 
  top: -10px; 
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 0s;
  z-index: 1002!important;  /* Les étoiles sont en dessous du bouton */
}

.star2 {
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1002!important;  /* Les étoiles sont en dessous du bouton */
  animation-delay: 1s;
}

.star3 {
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  animation-delay: 2s;
}

.star4 {
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  animation-delay: 3s;
}

/* Animation de rotation autour du bouton avec effet de profondeur */
@keyframes rotateAround {
  0% {
    transform: rotate(0deg) translateX(40px) rotate(0deg) scale(0.5); /* Petite taille quand éloignée */
  }
  50% {
    transform: rotate(180deg) translateX(20px) rotate(-180deg) scale(1.2); /* Taille augmente au plus près du centre */
  }
  100% {
    transform: rotate(360deg) translateX(40px) rotate(-360deg) scale(0.5); /* Reprend petite taille à distance */
  }
}




.download-buttons {
  display: flex;
  gap: 1px;
  margin-top: 15px; /* Séparation avec le QR code */
  margin-bottom: 15px; // <-- On colle à 15px de la séparation
}

.download-btn img {
  width: 105px;
  height: auto;
  transition: transform 0.2s ease;
}

.download-btn img:hover {
  transform: scale(1.1);
}