<!-- Si l'utilisateur n'est pas connecté -->
<div *ngIf="!sessionService.isLoggedIn()">
  <router-outlet></router-outlet>
</div>

<!-- Modale globale, RENDUE UNE SEULE FOIS -->
<app-reviews-modal></app-reviews-modal>
<!-- Si l'utilisateur est connecté -->
<mat-drawer-container class="example-container" *ngIf="sessionService.isLoggedIn()">
  <!-- Drawer latéral gauche -->
  <mat-drawer #drawer appRegisterDrawer mode="over" class="drawer-content" (closedStart)="closeDrawer()">
    <div class="drawer-inner">

      <!-- Bouton de fermeture -->
      <button class="close-button" (click)="drawer.close()">
        <mat-icon>close</mat-icon>
      </button>

      <!-- Section profil -->
      <div class="profile-section">
        <img [src]="imgStorageUrl + 'default.jpeg'" class="profile-pic" alt="Profile Picture" />
        <div>
          <p class="profile-name" *ngIf="me$ | async as me">{{ me.firstname }} {{ me.lastname }}</p>
          <a class="manage-account" (click)="goTo('profile')">
            {{ "SIDEBAR.PROFILE" | translate }}
          </a>
        </div>
      </div>

      <!-- Menu principal -->
      <ul class="drawer-menu">
        <li class="menu-hover" [ngClass]="{'active': isActive('orders')}" (click)="goTo('orders')">
          <img class="side-icon" src="assets/images/icon/order.png" alt="Commandes passées" />
          <span class="side-item">{{ "SIDEBAR.ORDERS" | translate }}</span>
        </li>

        <li class="menu-hover" [ngClass]="{'active': isActive('favorites')}" (click)="goTo('favorites')">
          <img class="side-icon" src="assets/images/icon/favorite.png" alt="Favoris" />
          <span class="side-item">{{ "SIDEBAR.FAVORITES" | translate }}</span>
        </li>

        <li class="menu-hover" [ngClass]="{'active': isActive('help')}" (click)="goTo('help')">
          <img class="side-icon" src="assets/images/icon/help.png" alt="Aide" />
          <span class="side-item">{{ "SIDEBAR.HELP" | translate }}</span>
        </li>

        <li class="menu-hover" (click)="goTo('fidelity')" *ngIf="settings.fidelityActivated">
          <img class="side-icon" src="assets/images/icon/gift.png" alt="Programme de fidélité" />
          <span class="side-item">{{ "SIDEBAR.FIDELITY" | translate }}</span>
        </li>

        <li class="menu-hover" (click)="goTo('prices')" *ngIf="settings.multiShopsActivated">
          <img class="side-icon" src="assets/images/icon/prices.png" alt="Abonnement Premium" />
          <span class="side-item">{{ "SIDEBAR.PRICES" | translate }}</span>
        </li>
      </ul>

      <!-- Footer du drawer -->
      <div class="drawer-footer">
        <div class="download-buttons">
          <a href="https://play.google.com/store/apps/details?id=com.izyglam" target="_blank" class="btn download-btn">
            <img [src]="'assets/images/application/google-play-badge.' + lang + '.png'" alt="Google Play">
          </a>
          <a href="https://apps.apple.com/app/id123456770" target="_blank" class="btn download-btn">
            <img [src]="'assets/images/application/app-store-badge.'+lang+'.png'" alt="App Store">
          </a>
        </div>

        <!-- Menu secondaire -->
        <ul class="drawer-menu secondary">
          <li class="menu-hover" (click)="goTo('subscription')" *ngIf="settings.multiShopsActivated">
            <span class="side-item">{{ "SIDEBAR.MY_ABO" | translate }} : {{ me.abonnement }}</span>
          </li>
          <li class="menu-hover" (click)="goTo('creation-shop')">
            <span class="side-item">{{ "SIDEBAR.YOUR_BEAUTY_SERVICES" | translate }}</span>
          </li>
          <li class="menu-hover" (click)="goTo('creation-company')" *ngIf="settings.companyActivated">
            <span class="side-item">{{ "SIDEBAR.YOUR_COMPANY" | translate }}</span>
          </li>
          <li class="menu-hover" (click)="logout()">
            <span class="side-item">{{ "SIDEBAR.LOGOUT" | translate }}</span>
          </li>
        </ul>
      </div>
    </div>
  </mat-drawer>


  <!-- Contenu principal -->
  <mat-drawer-content>
    <div class="page-container">
      <!-- Header -->
      <app-header [connected]="sessionService.isLoggedIn()" [me]="me"></app-header>

      <!-- Bouton de chat -->
      <!--
      <div class="chat-container" (click)="openChat()">
        <img src="assets/images/chat/lizy.png" alt="Lizy Chat Icon" class="chat-button" />
      </div>
      -->
      <!-- Contenu dynamique -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>

      <!-- Footer -->
      <footer class="footer-izyglam">
        <app-footer></app-footer>
      </footer>

    </div>
  </mat-drawer-content>

  <!-- Loader global -->
  <app-loader></app-loader>