<!-- app-horizontal-shop-list.component.html -->

<div class="horizontal-section-wrapper">
    <div class="section-header">
      <h3>{{ title }}</h3>
    </div>
  
    <div class="horizontal-scroll-wrapper">
      <div class="scrollable-shop-list drag-scroll" appDragScroll>
        <ng-container *ngFor="let shop of shops">
          <div class="shop-card-wrapper">
            <!-- Carte affichée tout le temps -->
            <app-round-shop-card
              [shop]="shop"
              [me]="me"
              [promoVisible]="shop.promo?.active"
              (loaded)="onShopLoaded(shop._id)"
            ></app-round-shop-card>
          </div>
        </ng-container>
      </div>
    </div>
    
  </div>
  