
<div class="form">

    <div class="row">
      <!-- Section Gestion des employés -->
      <div class="col-12">
        <h2>{{ "COMPANY_MANAGEMENT.DEFAULT_PASSWORD" | translate }}</h2>
        <div>
          <label for="confirmPassword">{{ "COMPANY_MANAGEMENT.REINITIALIZE_PASSWORD" | translate }}</label>
          <input
            [(ngModel)]="defaultPassword"
            class="input-style"
            type="text"
            id="confirmPassword"
            name="confirmPassword"
            required
          />
        </div>
        <button type="submit" class="red-button" (click)="setDefaultPassword()">
          {{ "COMPANY_MANAGEMENT.CHANGE_PASSWORD" | translate }}
        </button>
      </div>
    </div>
  </div>
  