
<div class="form">

    <div class="row">
      <!-- Section Gestion des employés -->
      <div class="col-12">
        <h2>Mot de passe par défaut</h2>
        <div>
          <label for="confirmPassword">Mot de passe par défaut pour réinitialisation</label>
          <input
            [(ngModel)]="defaultPassword"
            class="input-style"
            type="text"
            id="confirmPassword"
            name="confirmPassword"
            required
          />
        </div>
        <button type="submit" class="red-button" (click)="setDefaultPassword()">
          Modifier le mot de passe
        </button>
      </div>
    </div>
  </div>
  