<section class="auth-page">
    <div class="animation-circle-inverse">
       <i></i>
       <i></i>
       <i></i>
    </div>
    <div class="animation-circle">
       <i></i>
       <i></i>
       <i></i>
    </div>
    <app-header [connected]="false" [page]="'connected'"></app-header>
    <div class="auth-card">
        <div class="text-left">
           <p class="welcome-text">Modifiez votre mot de passe</p>
        </div>
       <form class="auth-form">
          <div class="form-group">
             <input 
               id="inputPassword" 
               [type]="isNewPasswordVisible ? 'text' : 'password'" 
               class="form-control" 
               [required]="true" 
               [(ngModel)]="newPassword" 
               name="login[password]" 
               [placeholder]="placeholderPasswordNew">
             
             <a (click)="toggleNewPasswordVisibility()" class="show-pass">
               <i class="fa" [ngClass]="isNewPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
             </a>
           </div>
           <div class="form-group">
              <input 
                id="inputPassword" 
                [type]="isConfirmedPasswordVisible ? 'text' : 'password'" 
                class="form-control" 
                [required]="true" 
                [(ngModel)]="confirmPassword" 
                name="login[password]" 
                [placeholder]="placeholderPasswordConfirmed">
              
              <a (click)="toggleConfirmedPasswordVisibility()" class="show-pass">
                <i class="fa" [ngClass]="isConfirmedPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
              </a>
            </div>
          <button type="submit" class="btn submit" (click)="onSubmit()">Réinitialiser</button>
       </form>
    </div>
 </section>