.profile-card {
  background-color: #fafafa !important;
  width: 300px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.profile-card img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile-info {
  text-align: center;
}

.star-icon {
  color: gold;
}
