<div class="modal-header">
    <h3 class="modal-title">Créditer le compte de l'employé</h3>
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="creditAmount">Montant à créditer :</label>
      <input
      [(ngModel)]="amount"
      class="input-style"
      type="number"
      id="confirmPassword"
      name="confirmPassword"
      required
    />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary grey-button" (click)="close()">Annuler</button>
    <button type="button" class="btn btn-primary red-button" (click)="credit()">Valider</button>
    
  </div>
  