.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0;
}
.form-section {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

textarea,
input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Important pour que padding et border soient inclus dans la taille */
}

textarea {
  height: 150px; /* Spécifique à la description pour donner plus de place */
}

.full-width {
  width: 100%; /* S'assure que le textarea prend toute la largeur possible */
}


.form-actions {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #ff6b6b;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4c4c;
}

h1 {
  color: #ff6b6b;
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}