.custom-container {
}

h3 {
  font-size: 18px;
  color: #B23A48 !important;
}

.category-filter {
  display: flex;
  justify-content: center; /* Centre la liste des catégories */
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Cache la scrollbar sur Firefox */
  -ms-overflow-style: none; /* Cache la scrollbar sur Internet Explorer */

  .category-item {
    display: flex;
    flex-direction: column; /* Organise les éléments en colonne */
    align-items: center; /* Centre les éléments horizontalement */
    flex-shrink: 0;
    margin-right: 0px;
    padding: 10px;
    text-align: center;

    .icon {
      width: 40px;
      height: 40px;
      margin-bottom: 5px; /* Espace entre l'icône et le texte */
    }

    span {
      display: block;
      font-size: 12px;
      color: #333;
    }

    &:hover {
      color: rgb(0, 79, 163);
    }
  }

  &::-webkit-scrollbar {
    display: none; /* Cache la scrollbar sur Chrome, Safari et Opera */
  }
}

.categories {
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center; /* Assure une répartition équilibrée */
  width: 100% !important;

  h2 {
    margin-bottom: 10px;
  }

  .category-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer 10+ */

    .category-item {
      padding: 10px 10px;
      border-radius: 4px;
      text-align: center;
      flex: 1;
      margin: 0 0px;
    }
  }

  .category-list::-webkit-scrollbar {
    display: none; /* Cache la scrollbar sur Chrome, Safari et Opera */
  }
}

.card {
  background-color: transparent;
  border: none;
  flex: 0 0 21%; /* Largeur de chaque carte */
  margin: 0px; /* Espacement entre les cartes */
  margin-right: 0px; /* Espace entre les cartes */
  box-sizing: border-box;
}

.card-filter {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    margin: 0;
  }

  .filter {
    display: flex;
    align-items: center;

    label {
      margin-right: 0px;
    }

    select {
      padding: 5px;
      border-radius: 4px;
    }
  }
}

.fa {
  pointer-events: none; /* Empêche les interactions directes avec l'icône */
}

.top-bar {
  display: flex;
  justify-content: space-between; /* Alignement horizontal des éléments enfants */
  align-items: center; /* Centrage vertical des éléments */
  padding: 5px; /* Espacement autour du contenu de la barre */
}

.scroll-buttons {
  display: flex;
}

.scroll-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: #2c3e50; /* Couleur de fond */
  color: white;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  margin-left: 10px; /* Espacement entre les boutons */
}

.scroll-btn:hover {
  background-color: #34495e; /* Un bleu plus foncé pour l'effet hover */
}

.cancelFilter {
  height: 20px;
  width: auto;
}

.category-item.selected {
  background-color: #ffe0b2; /* Fond orange clair pour la catégorie sélectionnée */
  border-radius: 50px;
}

.test66 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.padding-10 {
  padding: 10px;
}
