<!-- app-horizontal-shop-list.component.html -->

<div class="horizontal-section-wrapper" *ngIf="pubs.length > 0">
  <div class="section-header">
    <h3>{{ 'SPONSORS.TITLE' | translate}}</h3>
  </div>

  <div class="horizontal-scroll-buttons">
    <button class="scroll-button left" (click)="scrollLeft()">&#10094;</button>
    <button class="scroll-button right" (click)="scrollRight()">&#10095;</button>
  </div>
  <div class="horizontal-scroll-wrapper">
    <div #scrollContainerAds class="scrollable-shop-list">
      <div *ngFor="let pub of pubs" class="pub-card" (click)="goTo(pub)" [attr.data-pub-id]="pub._id">
        <div class="pub-image-wrapper">
          <img class="pub-premium" [src]="imgStorageUrl + 'uploads/images/pub/' + pub.image" alt="{{ pub.trad }}"
            (load)="onImageLoad(pub._id)" (error)="onImageError(pub._id)" [class.loaded]="loadedImages[pub._id]" />
          <div class="skeleton-loader" *ngIf="!loadedImages[pub._id]"></div>
        </div>
        <div>Sponsorisée</div>
      </div>
    </div>
  </div>
</div>