<div class="main-section">
   <div class="container custom-container">
      <div class="row align-items-center feature-grid">
         <!-- Média (image/vidéo) -->
         <div class="col-md-6 hero-image">
            <img *ngIf="!paramVideo" [src]="aPIimgStorageUrl + '/uploads/images/front/company.png'"
               [attr.alt]="'HOMEPAGE.PART3TITLE' | translate" class="hero-media" />

            <video *ngIf="paramVideo" #videoElementFeature class="hero-media hero-video" autoplay muted playsinline
               loop>
               <source [src]="aPIimgStorageUrl + '/uploads/images/front/company.mp4'" type="video/mp4" />
               {{ 'ABOUT.VIDEO_ERROR' | translate }}
            </video>
         </div>

         <!-- Contenu -->
         <div class="col-md-6 content">
            <h1>{{ 'HOMEPAGE.PART3TITLE' | translate }}</h1>
            <p>{{ 'HOMEPAGE.PART3TEXT' | translate }}</p>
            <button type="button" class="btn submit" (click)="goTo('creation-company')"
               [attr.aria-label]="'HOMEPAGE.KNOWMORE' | translate">
               {{ 'HOMEPAGE.KNOWMORE' | translate }}
            </button>
         </div>
      </div>
   </div>
</div>