<div class="main-section">
   <div class="container custom-container">
      <div class="row">
         <div class="col-md-6 hero-image">
            <img [src]="imgStorageUrl+'uber-test4.png'" alt="Services de beauté pour entreprises">
         </div>
         <div class="col-md-6 content">
            <h1>{{'HOMEPAGE.PART3TITLE' | translate}}</h1>
            <p>{{'HOMEPAGE.PART3TEXT' | translate}}</p>
            <button type="submit" class="btn submit">{{'HOMEPAGE.KNOWMORE' | translate}}</button>
         </div>
      </div>
   </div>
</div>