<section class="auth-page">
   <div class="animation-circle-inverse">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <div class="animation-circle">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <app-header [connected]="false" [page]="'connected'"></app-header>
   <div class="auth-card">
      <div class="text-left">
         <!--<img src="assets/images/title-line.png" alt="ligne de titre" class="img-fluid line">-->
         <p class="welcome-text">{{ 'LOGIN.TITLE' | translate }}</p>
      </div>
      <form class="auth-form">
         <div class="form-group">
            <input [required]="true" class="form-control" name="login[username]" [(ngModel)]="user.login" type="email"
               [placeholder]="placeholderEmail">
         </div>
         <div class="form-group">
            <input 
              id="inputPassword" 
              [type]="isPasswordVisible ? 'text' : 'password'" 
              class="form-control" 
              [required]="true" 
              [(ngModel)]="user.password" 
              name="login[password]" 
              [placeholder]="placeholderPassword">
            
            <a (click)="togglePasswordVisibility()" class="show-pass">
              <i class="fa" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
            </a>
          </div>
         <div class="form-group">
            <a routerLink="/forget-password" class="forgot-pass">{{ 'LOGIN.FORGET_PASSWORD' | translate }}</a>
         </div>
         <button type="submit" class="btn submit" (click)="onSubmit()">{{ 'LOGIN.CONTINUER' | translate }}</button>
         <app-connexion-buttons [forConnection]="true"></app-connexion-buttons>
      </form>
   </div>
</section>