.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .pulsing-loader {
    display: flex;
    gap: 30px; /* Augmente l'espacement entre les icônes */
    margin-bottom: 20px; /* Ajoute un espacement entre les icônes et le texte */
  }
  
  .icon-container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse 1.5s ease-in-out infinite;
  
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  /* Animation de pulsation */
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
      opacity: 0.5;
    }
    50% {
      transform: scale(1.3);
      opacity: 1;
    }
  }
  
  /* Style du texte "Loading..." */
  .loading-text {
    font-size: 18px;
    color: white;
    font-family: Arial, sans-serif;
    animation: fade 1.5s ease-in-out infinite;
  }
  
  /* Animation légère pour le texte */
  @keyframes fade {
    0%, 100% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
  }
  