<div class="order-card">
    <div class="order-header">
      <img src="assets/images/profile/profile2.png" alt="Franprix Logo" class="order-image">
      <div class="order-info">
        <h2>{{ order.establishmentName }}</h2>
        <p>{{ order.totalItems }} {{ "ORDERS.PRESTA_FOR" | translate }} {{ order.price }} €</p>
        <p>{{ order.orderDate }} {{ "ORDERS.AT" | translate }} {{ order.orderTime }}</p>
      </div>
      <div class="order-actions">
        <button class="reorder-btn" (click)="reorder()">{{ "ORDERS.ORDER_AGAIN" | translate }}</button>   
        <button class="cancel-btn" *ngIf="order.status === 'pending' || order.status === 'confirmed'" (click)="cancelOrder()">{{ "ORDERS.CANCEL" | translate }}</button>   
      </div>
    </div>
    
    <div class="order-body">
      <ul>
        <li *ngFor="let item of order.items">
          <span class="quantity-box">{{ item.quantity }}</span>
          {{ item.name }}
        </li>
      </ul>
      <a class="invoice-link" (click)="openRatingDialog()" *ngIf="order.status !== 'pending' && !order.reviewAdded">{{ "ORDERS.REVIEW" | translate }}</a>
      <a class="invoice-link" (click)="requestInvoice()">{{ "ORDERS.INVOICE" | translate }}</a>
    </div>
  </div>
  