<div class="payment-container margin-top-70">
    <header class="payment-header">
        <img src="assets/images/logo.png" alt="IzyGlam Logo" class="logo">
        <a (click)="goToAbonnement()" class="change-subscription">{{"PAYEMENT_PRO.CHANGE_ABO" | translate}}</a>
    </header>
    <section class="subscription-details">
        <div class="plan">
            <div>
                <h2 *ngIf="abonnement === 'premium'">👑 {{ "TARIF.PREMIUM" | translate }}</h2>
                <p>{{"PAYEMENT_PRO.GO_TO_PREMIUM" | translate}}</p>
            </div>
            <div class="price" *ngIf="abonnement === 'premium'">89,90 €<span>/mois</span></div>
        </div>
        <ul class="benefits">
            <li>{{"PAYEMENT_PRO.FACTURATION" | translate}}</li>
            <li>{{"PAYEMENT_PRO.OK_TO_CANCEL" | translate}} <a href="#">{{"PAYEMENT_PRO.CONDITION" | translate}}</a>.
            </li>
        </ul>
    </section>
    <section class="address">
        <h3>{{"PAYEMENT_PRO.ADDRESS" | translate}}</h3>
        <div class="address-info">
            <span>France<br>FR</span>
            <a href="#" class="edit">{{"PAYEMENT_PRO.CHANGE" | translate}}</a>
        </div>
    </section>
    <section class="payment-method">
        <h3>{{"PAYEMENT_PRO.PAIEMENT" | translate}}</h3>
        <form>
            <label>
                <input type="radio" name="payment-method" checked>
                {{"PAYEMENT_PRO.CREDIT_CARD" | translate}}
                <div class="card-icons">
                    <img src="assets/payment/visa.png" alt="Visa">
                    <img src="assets/payment/mastercard.png" alt="MasterCard">
                    <img src="assets/payment/amex.png" alt="American Express">
                </div>
            </label>
            <h3 class="section-title">{{ 'PAYEMENT.CARD_PAY' | translate }}</h3>
            <div class="payment-method">
                <!-- Liste des cartes -->
                <div *ngIf="cards.length > 0">
                    <div *ngFor="let card of cards" class="card-option" [class.selected]="card.id === selectedCardId"
                        (click)="selectCard(card.id)">

                        <i class="fa fa-credit-card"></i>
                        <h3>{{ card.brand }} - **** **** **** {{ card.last4 }}</h3>
                        <p>{{"PAYEMENT.PAYMENT_EXPIRE" | translate}} {{ card.exp_month }}/{{ card.exp_year }}</p>
                    </div>
                </div>
                <!-- Aucune carte -->
                <div *ngIf="cards.length === 0" class="no-default-card">
                    <h3>{{"PAYEMENT.PAYMENT_NO_CARD" | translate}}</h3>
                    <p>{{"PAYEMENT.PAYMENT_NO_CARD_DESC" | translate}}</p>
                </div>
                <!-- Bouton Ajouter une carte -->
                <button class="add-card-btn" (click)="showAddCardForm = !showAddCardForm">
                    {{ showAddCardForm ? ('PAYEMENT.HIDE_CARD_FORM' | translate) : ('PAYEMENT.ADD_CARD' | translate)
                    }}
                </button>
                <!-- Formulaire Stripe Elements pour ajout de carte -->
                <div *ngIf="showAddCardForm">
                    <app-stripe-card-form [userId]="me._id" (cardAdded)="onCardAdded($event)"></app-stripe-card-form>
                </div>
            </div>
        </form>
    </section>

    <section class="summary">
        <h3>{{"PAYEMENT_PRO.RESUME" | translate}}</h3>
        <div class="summary-line subscription-details">
            <p class="mini-badge">{{"PAYEMENT_PRO.NO_ENGAGE" | translate}}</p>
            <div class="plan">
                <div>
                    <h2>👑 {{ "TARIF.PREMIUM" | translate }}</h2>
                </div>
            </div>
        </div>
        <div class="total">{{"PAYEMENT_PRO.TOTAL" | translate}}
            <strong *ngIf="abonnement === 'premium'">89,90 €</strong>
        </div>
    </section>
    <section class="confirmation">
        <p class="terms">
            {{"PAYEMENT_PRO.CONSENT" | translate}} <a href="#">{{"PAYEMENT_PRO.CONFIDENTIAL" | translate}}</a>.
        </p>
        <button class="confirm-button" (click)="finalizePurchase()">{{"PAYEMENT_PRO.FINALISE" | translate}}</button>
    </section>
</div>