<h1 mat-dialog-title class="modal-title">{{ "RDV_MODAL.TITLE" | translate }}</h1>
<button mat-icon-button class="close-button" (click)="onNoClick()">
  <span aria-hidden="true">&times;</span>
</button>

<!-- Bloc flex avec image + infos -->
<div class="service-container">
  <div class="service-image-wrapper">
    <img
      [src]="imgStorageUrl + service.image"
      alt="Illustration"
      (error)="onImageError($event)"
      class="service-image"
    />
  </div>

  <div class="service-info">
    <div class="service-name">{{ service.name }}</div>
    <div class="service-description">{{ service.description }}</div>
  </div>
</div>

<div mat-dialog-content class="modal-content">
  <div class="date-selector">
    <div *ngFor="let day of schedules; let i = index" class="date-group">
      <div class="date-header" (click)="toggleDate(i)">
        <span>{{ day.label }}</span>
        <button class="toggle-button">
          {{ openedIndex === i ? '&#9650;' : '&#9660;' }}
        </button>
      </div>

      <div class="time-slots" *ngIf="openedIndex === i">
        <span *ngFor="let time of day.times">
          <button *ngIf="time" (click)="slotClick(time, day)" class="time-slot">
            {{ time.start }}
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
