<!-- rdv-modal.component.html -->
<h1 mat-dialog-title class="modal-title">Choisissez la date de consultation</h1>
<div mat-dialog-content class="modal-content">
  <div class="date-selector">
    <div *ngFor="let date of dates; let i = index" class="date-group">
      <div class="date-header" (click)="toggleDate(i)">
        <span>{{ date.label }}</span>
        <button class="toggle-button">
          {{ openedIndex === i ? '&#9650;' : '&#9660;' }}
        </button> <!-- Flèche haut/bas -->
      </div>
      <div class="time-slots" *ngIf="openedIndex === i">
        <button class="time-slot" *ngFor="let slot of timeSlots">{{ slot }}</button>
      </div>
      <div class="consultation-note" *ngIf="openedIndex === i">
        <span>• Indique une consultation assurée par un collaborateur : Dr. Kamil Abtroun</span>
      </div>
      <button class="see-more" *ngIf="openedIndex === i">VOIR PLUS</button>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn qr" (click)="onNoClick()">Annuler</button>
</div>
