<div class="uber-eats-steps-container margin-top-80">
    <h2>Fonctionnement d'izyGlam pour les establisements partenaires</h2>
  
    <div class="steps-grid">
      <div class="step-item">
        <img src="assets/images/step1.png" class="step-image" alt="Step 1" />
        <h3>Les clients passent commande</h3>
        <p>Le client trouve votre établissement et passe commande sur l'application izyGlam.</p>
      </div>
  
      <div class="step-item">
        <img src="assets/images/step2.png" alt="Step 2" />
        <h3>Vous acceptez la réservation</h3>
        <p>Vous acceptez la réservation et votre agenda est mis à jour.</p>
      </div>
  
      <div class="step-item">
        <img src="assets/images/step3.png" alt="Step 3" />
        <h3>Au moment du rendez-vous</h3>
        <p>Vous êtes averti en anvance des réservations à venir et on vous guide pour aller chez chaque client.</p>
      </div>
    </div>
  </div>
  