<div class="modal-backdrop"></div>
<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Sélectionnez le type de boutique à créer</h3>
    <button type="button" class="btn-close" (click)="close()">&times;</button>
  </div>
  <div class="modal-body">
    <div class="form-group">
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary grey-button"
      (click)="close()"
    >
      Annuler
    </button>
    <button type="button" class="btn btn-primary red-button" (click)="credit()">
      Valider
    </button>
  </div>
</div>
